<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Holiday Manager</ion-title>
    <button ion-button right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Add Holiday</ion-label>
    </ion-item>
  </ion-list>



  <ion-list>
    <ion-item>
      <ion-label>Select Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnds"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input type="text" [(ngModel)]="event.text" placeholder="Note"></ion-input>
    </ion-item>
    <button ion-button [disabled]="(event.text == '' ? true : false)" (click)="addHoliday()">Add Holiday</button>
  </ion-list>
</ion-content>