<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Business Profile</ion-title>
    <!-- <button ion-button right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header>

<ion-content class="add-business-profile-container" padding>
  <div [ngClass]="{'red-border': (image == '' && submitClicked)}" class="logo-section">
    <div (click)="selectImage()" *ngIf="image == ''" class="business-logo">
      <span>Upload Logo</span>
    </div>
    <div (click)="selectImage()" *ngIf="image != ''" class="business-logo">
      <img [src]="image" />
      <!-- <img src="https://www.pixelstalk.net/wp-content/uploads/2015/12/Iron-man-hd-wallpaper.jpg" /> -->
    </div>
    <hr>
  </div>
  <ion-list>
    <ion-item [ngClass]="{'red-border': (event.name == '' && submitClicked)}">
      <ion-label stacked>Business Name:</ion-label>
      <ion-input type="text" [(ngModel)]="event.name"></ion-input>
    </ion-item>
    <span class="error help-block">
        {{(event.name == '' && submitClicked ? 'Please enter business name' : '')}}
    </span>
    <ion-item [ngClass]="{'red-border': (event.add == '' && submitClicked)}">
      <ion-label stacked>Address:</ion-label>
      <ion-textarea type="text" [(ngModel)]="event.add" placeholder="Enter Address"></ion-textarea>

      <!-- <ion-input type="number" [(ngModel)]="event.availableSeat"></ion-input> -->
    </ion-item>
    <span class="error help-block">
        {{(event.add == '' && submitClicked ? 'Please enter store address' : '')}}
    </span>
    <ion-item [ngClass]="{'red-border': (event.email == '' && submitClicked)}">
      <ion-label stacked>Email:</ion-label>
      <ion-input type="text" [(ngModel)]="event.email"></ion-input>
    </ion-item>
    <span class="error help-block">
        {{(event.email == '' && submitClicked ? 'Please enter store email address' : '')}}
    </span>
    <ion-item [ngClass]="{'red-border': (event.phone == '' && submitClicked)}">
      <ion-label stacked>Phone Number:</ion-label>
      <ion-input type="number" [(ngModel)]="event.phone"></ion-input>
    </ion-item>
    <span class="error help-block">
        {{(event.phone == '' && submitClicked ? 'Please enter store phone number' : '')}}
    </span>
    <ion-item [ngClass]="{'red-border': (event.note == '' && submitClicked)}">
      <ion-label stacked>Note:</ion-label>
      <ion-input type="text" [(ngModel)]="event.note"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label stacked>Logo:</ion-label>
      <ion-input type="text" [(ngModel)]="event.logo"></ion-input>
    </ion-item> -->

    <ion-label class="heading-day">Avalibility:</ion-label>

    <ion-item class="avalibities-item" *ngFor="let facility of allFacility">
      <ion-label>{{facility.var_name}}</ion-label>
      <ion-checkbox [(ngModel)]="facility.check" (click)="checked(allFacility)" color="royal"></ion-checkbox>
    </ion-item>
    <!-- <button ion-button [disabled]="disabled()" (click)="addBank()">Add Bank</button> -->

  </ion-list>
  <div class="btn-area">
    <button class="submit-btn" ion-button (click)="updateBuisneesSettings()">Update</button>
  </div>
</ion-content>
