<ion-content class="login-container">
  <div class="login-page-container">
    <div class="logo-container">
      <img src="assets/imgs/logo.png" width="220">
    </div>
    <div class="form-container">
      <div *ngIf="!isOTPSend" class="login_form">
        <form (ngSubmit)="loginFormSubmit()" [formGroup]="loginForm" novalidate class="form-data">
          <div class="title-content">
            <h4>Welcome to Business App</h4>
            <span>Sign in to continue</span>
          </div>
          <ion-list>
            <ion-item [ngClass]="{'red-border': ((this.api.getRequiredValidation(loginForm.controls.phone_number.value) || (this.api.getMobileNumberValidation(loginForm.controls.phone_number.value))) && submitClicked)}">
              <!-- <ion-label>Phone Number</ion-label> -->
              <ion-input type="tel" maxlength="10" formControlName="phone_number" placeholder="Phone Number"></ion-input>
            </ion-item>
            <span class="error help-block">
              {{(submitClicked && loginForm.controls.phone_number.value == "" ? 'Please enter mobile number' : '')}}
            </span>
            <span class="error help-block">
              {{(submitClicked ? this.api.getMobileNumberValidation(loginForm.controls.phone_number.value) : '')}}
            </span>

            <ion-item [ngClass]="{'red-border': (loginForm.controls.store_code.status == 'INVALID' && submitClicked)}">
              <!-- <ion-label>Store Code</ion-label> -->
              <ion-input type="text" formControlName="store_code" placeholder="Store Code"></ion-input>
            </ion-item>
            <span class="help-block change-code-link">
              forgot store code ?
            </span>
            <span class="error help-block">
              {{(submitClicked && loginForm.controls.store_code.value == "" ? 'Please enter store code' : '')}}
            </span>
            <span class="error help-block">
              {{(submitClicked &&  loginForm.controls.store_code.status == 'INVALID' && loginForm.controls.store_code.value ? 'Please enter valid store code' : '')}}
            </span>
            <ion-label *ngIf="userdata && userdata.showMessage">{{userdata.showMessage}}</ion-label>
            <button ion-button type="submit">Send OTP</button>
          </ion-list>

        </form>
      </div>
      <div *ngIf="isOTPSend" class="login_form">
        <form (ngSubmit)="otpFormSubmit()" [formGroup]="otpForm" novalidate class="form-data">
            <div class="title-content">
                <h4>Welcome to Business App</h4>
                <span>Enter One Time Password (OTP) has been sent to your mobile ******{{maskMobileNumber}}, please enter the same here to login.</span>
                <span (click)="backBuuton()">Change Mobile Number?</span>
              </div>
          <ion-list>
            <ion-item [ngClass]="{'red-border': (otpForm.controls.otp.status == 'INVALID' && submitOTPClicked)}">
              <!-- <ion-label>OTP:</ion-label> -->
              <ion-input type="tel" formControlName="otp" pattern="[0-9]+" placeholder="Enter OTP"></ion-input>
            </ion-item>
            <span class="error help-block">
              {{(submitOTPClicked && otpForm.controls.otp.value == "" ? 'Please enter OTP' : '')}}
            </span>
            <div>
              <span *ngIf="otpFail"> {{otpFail}}</span>
            </div>
            <button ion-button type="submit">Verify</button>
            <ion-label *ngIf="!isEnableResend">Resend OTP in {{seconds}} seconds</ion-label>
            <ion-label *ngIf="isEnableResend" (click)="loginFormSubmit()">Resend OTP</ion-label>
            <ion-label *ngIf="otpCheck">{{otpCheck}}</ion-label>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
</ion-content>
