page-login {
  .scroll-content {
    margin-top: 0 !important;
    background: map-get($colors, primary) !important;
  }
  .login-container {
    .red-border {
      border: 1px solid red !important;
    }
    background: map-get($colors, primary);
    .login-page-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      height: 100%;
      .logo-container {
        padding: 6px;
        border-radius: 100%;
        position: relative;
      }
      .form-container {
        flex: 0 0 100%;
      }
      form {
        .change-code-link{
          display: block;
          text-align: right;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
        }
        ion-list {
          ion-item {
            background: transparent !important;
            .item-inner {
              padding: 0 !important;
              border: none !important;
              .input-wrapper {
                ion-input {
                  border-bottom: 1px solid map-get($colors, white);
                  padding: 0;
                  input {
                    font-size: 18px;
                    color: map-get($colors, white);
                    outline: none;
                    line-height: 42px;
                    width: 100%;
                  }
                  input::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                  }
                }
              }
            }
          }
          ion-item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
            border-bottom-color: transparent !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
          }
          ion-item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
          ion-item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
            border-bottom-color: transparent !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .welcome-page-container {
    .item-md {
      padding: 0;
    }
  }
  .splash-bg {
    position: relative;
    background: url('../assets/img/login-banner2.jpg') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
    margin: auto;
  }
  .login_form {
    text-align: center;
    padding: 20px;
    .title-content {
      text-align: center;
      h4 {
        color: #fff;
      }
      span {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        margin-bottom: 20px;
      }
    }
    ion-list {
      margin: 30px 20px;
      ion-item {
        border: none !important;
        padding: 0;
        margin-bottom: 10px;
        .item-inner {
          padding: 0 !important; // border:1px solid #c8c7cc;
          .input-wrapper {
            ion-input {
              padding: 10px;
              margin-bottom: 5px;
              input {
                margin: 0;
                font-weight: 300;
              }
            }
          }
        }
      }
      button {
        width: 100%;
        margin: 15px 0 0;
        border-radius: 0;
        padding: 15px 0;
        height: 4.5rem; // font-weight: 300;
        font-size: 16px;
        background: map-get($colors, secondary); // border: 1px solid map-get($colors, white);
        box-shadow: none;
        letter-spacing: 1px;
      }
      button[disabled] {
        opacity: 1;
      }
    }
  }
}
