<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Staff Manager</ion-title>
    <button ion-button right (click)="addStaff()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="staff.length > 0">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-list>
      <ion-item-sliding *ngFor="let service of staff">
        <ion-item *ngIf="staff" (click)="selectUser(service)">
          <button>
            <div class="avtar-img">
              <img [src]="service.var_image_thumb" />
            </div>
            <span>
              {{service.var_name}}
              <br>
              <i>{{service.var_phone}}</i>
            </span>
            <span class="status">{{((service.enum_active == 'YES' || service.enum_current == 'YES') ? 'Active' : 'Inactive')}}</span>
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteStaff(service)">
            <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="no-staff-container" *ngIf="staff.length == 0">
      <i class="material-icons">person_add</i>
      No Staff available
  </div>
</ion-content>