page-staff {
    .scroll-content {
        padding: 0 !important;
        ion-searchbar {
            padding: 0;
            border-bottom: 1px solid #ccc;
            // position: fixed;
            // top: 45px;
            // width: 100%;
            // height: auto;
            // left: 0;
            // z-index: 999;
            background: map-get($colors, white);
            .searchbar-search-icon {
                left: 10px;
            }
            input {
                box-shadow: none !important;
                padding: 6px 40px !important;
            }
        }
        ion-list {
            // padding-top: 43px;
            margin-top: 0 !important;
            ion-item-sliding {
                ion-item {
                    padding: 0 10px 0 0;
                    margin-bottom: 0;
                    border-bottom: 1px solid #ccc;
                    height: 65px;
                    .item-inner {
                        padding: 0px !important;
                        border-bottom: none !important;
                        ion-label {
                            height: 100%;
                            margin: 0;
                            button {
                                background: transparent;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                color: #000;
                                box-shadow: none;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .avtar-img {
                                    margin: 0 10px;
                                    display: flex;
                                    align-items: center;
                                    flex: 0 0 50px;
                                    img {
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 100%;
                                    }
                                }
                                b {
                                    line-height: 18px;
                                    font-size: 16px;
                                    flex: 0 0 20%;
                                    text-align: left;
                                    font-weight: 400;
                                    background: map-get($colors, primary);
                                    color: map-get($colors, white);
                                    padding: 10px;
                                    span {
                                        display: block;
                                        font-weight: 300;
                                        color: #999;
                                        font-size: 14px;
                                        text-transform: lowercase;
                                    }
                                }
                                span {
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #444;
                                    flex: 1 1 60%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    padding: 0 5px;
                                    text-align: left;
                                    line-height: 22px;
                                    text-transform: capitalize;
                                    i{
                                      font-style: normal;
                                      color: #999;
                                    }
                                }
                                span.status {
                                    flex: 1 1 20%;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
                ion-item.not-enabled {
                    opacity: 0.5;
                }
                ion-item-options {
                    border-bottom: none;
                    button {
                        ion-icon {
                            font-size: 26px;
                            padding-bottom: 0 !important;
                        }
                    }
                }
            }
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
        .no-staff-container{
            text-align: center;
            padding:50px 0;
            font-size: 20px;
            color: #ddd;
            height: 100%;
            i{
              font-size: 200px;
              display: block;
              margin-bottom: 10px;
            }
        }
    }
}
