page-add-offers {
    ion-content.add-service-container {
        padding: 10px !important;
        .scroll-content {
            margin-top: 56px !important;
            padding: 0 !important
        }
        ion-list {
            margin-bottom: 0 !important;
            height: 100%;
            button.submit-btn {
                // position: fixed;
                // bottom: 0;
                width: calc(100% - 20px);
                margin: 10px;
            }
            .ng2-auto-complete-wrapper {
                padding: 0 10px;
                background: #fff;
                input {
                    padding: 15px 0;
                    margin: 0;
                    border: none;
                    width: calc(100%);
                    background: #fff;
                    border-bottom: 1px solid #dedede;
                }
                ul {
                    margin: 0;
                    width: calc(100% + 20px);
                    border: none;
                    li {
                        padding: 10px;
                        color: #333;
                    }
                    li.selected {
                        background: map-get($colors, 'primary');
                        color: #fff;
                    }
                }
            }
            ion-item {
                padding-left: 0; // margin: 10px;
                // width: calc(100% - 20px);
                .item-inner {
                    padding: 10px 0 !important;
                    margin: 0 10px;
                    box-shadow: none !important;
                    border-bottom: 1px solid #dedede !important;
                    .input-wrapper {
                        ion-label.label {
                            margin: 0 !important;
                            font-size: 14px;
                            line-height: 22px;
                            i.flaticon-rupee-indian::before{
                                font-size: 13px;
                            }
                        }
                        .textlabel{
                          color: #333;
                        }
                        ion-input {
                            font-size: 16px;
                            font-weight: 500;
                            color: #444;
                        }
                    }
                }
            }
            ion-item.price-input {
                .item-inner {
                    .input-wrapper {
                        position: relative;
                        ion-label.rupee-icon {
                            position: absolute;
                            bottom: 6px;
                            font-size: 16px !important;
                            color: map-get($colors, primary);
                            font-weight: 500;
                        }
                        ion-input {
                            padding-left: 16px;
                        }
                    }
                }
            }
        }
    }
}
