<ion-header>
  <ion-navbar>
    <button ion-button tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>Add Service</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="add-service-container" padding>

  <ion-list>
    <input [ngClass]="{'red-border': (event.name == '' && submitClicked)}" [disabled]="(event.isAdd == true ? false : true)"
      [(ngModel)]="event.name" (ngModelChange)="getVenueName(event.name)" auto-complete [source]="arrayOfStrings" placeholder="Select Service"
    />
    <ion-item [ngClass]="{'red-border': (event.price == '' && submitClicked)}">
      <ion-label *ngIf="selectedVenue" stacked>Original Price : <i class="flaticon-rupee-indian"></i> {{selectedVenue.var_price}}</ion-label>
      <ion-label class="textlabel" stacked>Offer Price</ion-label>
      <ion-input type="number" [(ngModel)]="event.price"></ion-input>
    </ion-item>
    <!-- [disabled]="(event.price.length > 0? false : true)" -->
    <button class="submit-btn" ion-button (click)="addService()">{{(event.isAdd == true ? 'Add Service' : 'Edit Service')}}</button>
  </ion-list>
</ion-content>
