<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>My Account</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="sub-menu-container" padding>
  <ul>
    <li (click)="goToBankPage()">Bank Details</li>
    <li (click)="logOut()">Logout</li>
  </ul>
</ion-content>
