<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Packages</ion-title>
    <button ion-button right (click)="addPackage()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="packages.length > 0">
    <ion-list>
      <ion-item-sliding *ngFor="let package of packages">
        <ion-item (click)="goTopackagesDetail(package);">
          <button>
            <i class="material-icons package-icon">card_travel</i>
            <div class="packages-name-services">
              <div class="package-name">{{package.var_name}}</div>
              <div class="package-services">
                <div *ngFor="let service of package.services ; let last = last ">
                  {{service.var_title}}
                  <span *ngIf="!last">,</span>
                </div>
              </div>
            </div>
            <span class="package-price">
              <i class="flaticon-rupee-indian"></i> {{package.var_price}}</span>
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deletePackage(package);">
            <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="no-data-container" *ngIf="packages.length == 0">
    <i class="material-icons">card_travel</i>
    No Packages available
  </div>
</ion-content>