page-package {
    .scroll-content {
        padding: 0 !important;
        ion-list {
            // padding-top: 43px;
            margin-top: 0 !important;
            ion-item-sliding {
                ion-item {
                    padding: 0 ;
                    margin-bottom: 0;
                    border-bottom: 1px solid #ddd;
                    height: auto;
                    .item-inner {
                        padding: 0px 15px 0 0 !important;
            border-bottom: none !important;
            position: relative;
                        ion-label {
                            height: 100%;
                            margin: 0;
                            button {
                                background: transparent;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                color: #000;
                                box-shadow: none;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                .package-icon {
                                  flex: 0 0 12%;
                                  color: map-get($colors, secondary);
                                  font-size: 30px;
                                  padding-left: 10px;
                                }
                                .packages-name-services {
                                    flex: 0 0 66%;
                                    padding: 18px 10px;
                                    .package-name {
                                        display: block;
                                        margin-bottom: 5px;
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #444;
                                        text-align: left;
                                        white-space: normal;
                                        line-height: 20px;
                                        text-transform: capitalize;
                                    }
                                    .package-services {
                                        display: block;
                                        color: #777;
                                        font-weight: 400;
                                        font-size: 15px;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        text-transform: capitalize;
                                        flex-wrap: wrap;
                                        line-height: 20px;
                                    }
                                }
                                span.package-price {
                                    flex: 0 0 20%;
                                    text-align: right;
                                    color: #444;
                                    font-weight: 500;
                                    font-size: 16px;
                                    i.flaticon-rupee-indian::before{
                                      font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .item-inner::before {
                        content: '\f109';
                        position: absolute;
                        top: auto;
                        right: 0;
                        font-family: Flaticon;
                        font-size: 16px;
                        color: #444;
                      }
                }
                ion-item.not-enabled {
                    opacity: 0.5;
                }
                ion-item-options {
                    border-bottom: none;
                    button {
                        ion-icon {
                            font-size: 26px;
                            padding-bottom: 0 !important;
                        }
                    }
                }
            }
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
    }
}
