page-gallary {
  .scroll-content {
    padding: 10px !important;
    background: #fff !important;
  }
  .image-gallery {
    background: linear-gradient(#c8c8f2, #7575b7);
    .card {
      // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      margin: 0 0 10px;
      width: 100%;
      box-shadow: none;
    }
    .card-content {
      padding: 0;
      position: relative;
      .delete-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
      img {
        border-bottom: 1px solid rgba(0, 0, 0, 0.13); // box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
        width: 100%;
        height: 220px;
        object-fit: cover;
      }
    }
    .gallery-action-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom:1px solid #ddd;
      button.toggle-btn {
        padding: 0;
        color: #333;
        text-transform: none;
        font-size: 15px;
      }
      .set-profile-btn {
        border: 1px solid map-get($colors, primary);
        border-radius: 15px;
        width: 105px;
        margin-right: 0;
        font-size: 14px;
        text-transform: none;
        height: 32px;
        line-height: 24px;
      }
      .active {
        background: map-get($colors, primary);
        color: #fff;
        font-weight: normal;
      }
    }
  }
}
