<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Gallery</ion-title>
    <button (click)="uploadImageNew()" ion-button right>
      <i class="material-icons">add_a_photo</i>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="image-gallery">
  <div  *ngIf="images.length > 0">
    <ion-card *ngFor="let service of images">
      <div *ngIf="service.enum_ismain == 'YES'">
        <ion-card-content>
          <img [src]="service.var_file_thumb" />
          <button *ngIf="service.enum_isProfile == 'NO'" ion-button item-start (click)="deleteImg(service)" class="delete-btn" ion-button>
            <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
          </button>
        </ion-card-content>
        <div class="gallery-action-container">
          <button ion-button clear item-start class="toggle-btn" [disabled]="service.enum_isProfile == 'YES'" (click)="activeImg(service)">
            Show to customers
            <ion-toggle [(ngModel)]="service.enum_enable" (ionChange)="activeImg(service)"></ion-toggle>
          </button>
          <button ion-button clear item-end [ngClass]=" {'active':service.enum_isProfile == 'YES' }" class="set-profile-btn" [disabled]="service.enum_isProfile == 'YES'"
            (click)="setProfile(service)">Set as Profile</button>
        </div>
      </div>
    </ion-card>
  </div>
  <div class="no-data-container" *ngIf="images.length == 0">
    <i class="material-icons">collections</i>
    No Gallery available
  </div>
</ion-content>