page-dashboard {
  // .scroll-content {
  //     top: 45px;
  // }
  .header-fixed{
    height: 100%;
  //     width: 100%;
  //     position: fixed;
  //     top: 50px;
  }
  ion-header {
    ion-navbar {
      .toolbar-content {
        ion-title {
          .toolbar-title {
            font-size: 17px;
          }
        }
      }
    }
  }
  .header-calender {
    ion-calendar {
      padding: 0;
      .title {
        padding-top: 5px;
        padding-bottom: 5px;
        ion-icon {
          font-size: 25px;
        }
      }
      ion-calendar-week {
        ion-toolbar.toolbar {
          .toolbar-background {
            background: map-get($colors, secondary);
          }
          .week-title {
            li {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .date-container {
    margin: 0;
    position: relative;
    .flat-icon-prev {
      position: absolute;
      bottom: 8px;
      height: 36px;
      line-height: 36px;
      left: 0;
    }
    .flat-icon-next {
      position: absolute;
      bottom: 8px;
      height: 36px;
      line-height: 36px;
      right: 0;
    }
    .flat-icon-prev::before,
    .flat-icon-next::before {
      margin-left: 0;
      font-size: 16px;
    }
    .date-list-container {
      padding: 0;
      ul.days-cotainer {
        margin: 0;
        padding: 7px 12px;
        border-bottom: 1px solid #ccc;
        background: none;
        li {
          font-size: 14px;
          padding: 0 6px;
          line-height: 18px;
          height: auto;
        }
      }
      ul {
        border-bottom: 1px solid #ccc;
        background: #fff;
        margin: 0;
        padding: 8px 12px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          margin: 0;
          padding: 6px;
          line-height: 24px;
          font-size: 15px;
          text-align: center;
          border-radius: 100%;
          flex-basis: auto;
          width: 35px;
          height: 35px;
        }
        li.active {
          background: map-get($colors, secondary);
          color: map-get($colors, white);
        }
      }
    }
  }
  .booking-total-cotainer {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center; // border-bottom: 1px solid #ccc;
    color: #555;
    span {
      font-weight: 500;
      font-size: 16px;
      margin: 0 20px;
      .flaticon-rupee-indian::before {
        font-size: 14px;
      }
    }
  }
  .bookings-list-container {}
  .booking-statstics-container {
    background: #fff;
    ion-grid {
      text-align: center;
      width: 95%;
      margin: 9px auto;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      ion-row {
        align-items: center;
        ion-col {
          font-size: 15px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          color: map-get($colors, primary);
          padding: 0;
          span {
            font-size: 16px;
            font-weight: 500;
            display: block;
            line-height: 20px;
          }
        }
        ion-col:nth-child(1),
        ion-col:nth-child(2) {
          border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
        ion-col:nth-child(1) {
          font-weight: 500;
          font-size: 16px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
  .months-container {
    background: #fff;
    position: relative;
    .flat-icon-prev {
      position: absolute;
      top: 0;
      left: 0px;
    }
    .flat-icon-prev::before {
      font-size: 30px;
      margin-left: 0;
    }
    .flat-icon-next {
      position: absolute;
      top: 0;
      right: 0px;
      font-size: 30px;
    }
    .flat-icon-next::before {
      font-size: 30px;
      margin-left: 0;
    }
    ion-grid {
      padding: 0 25px;
      ion-col {
        padding: 0;
        color: map-get($colors, black); // border-bottom: 1px solid map-get($colors, secondary );
        ion-label {
          display: inline-block;
          vertical-align: middle;
          margin: 0 3px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
        }
        span {
          display: block;
        }
      }
    }
  }
  .tabs-container {
    height: 40px; // padding-top: 156px;
    ion-segment.segment {
      // position: fixed;
      // top: 178px;
      // width: 100%;
      // z-index: 999;
      background: #fff;
      ion-segment-button.segment-button {
        background: map-get($colors, primary);
        color: map-get($colors, white);
        margin: 0;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        border-radius: 0 !important;
        border: none;
        border-bottom: 1px solid map-get($colors, primary);
        opacity: 0.7;
        height: 4rem;
        line-height: 4rem;
      }
      ion-segment-button.segment-button.segment-activated {
        font-weight: 500;
        background: map-get($colors, primary);
        color: map-get($colors, white);
        opacity: 1;
      }
    }
  }
  .tab-content {
    height: calc(100% - 168px);
    ion-list {
      border-bottom: 1px solid #ddd;
      margin: 0 0 5px;
      .no-booking-container{
        text-align: center;
        padding:50px 0;
        font-size: 20px;
        color: #ddd;
        height: 100%;
        i{
          font-size: 200px;
          display: block;
          margin-bottom: 10px;
        }
      }
      ion-item-sliding {
        ion-item {
          padding: 0;
          .item-inner {
            padding: 10px;
            position: relative;
            ion-label {
              margin: 0;
              .list-item {
                display: flex;
                flex: nowrap;
                align-items: center;
                justify-content: center;
                .time-slot {
                  font-size: 13px;
                  justify-content: center;
                  border: 1px solid #ccc;
                  padding: 10px;
                  border-radius: 4px;
                  margin: 0 5px 0 0;
                  border-left: 4px solid map-get($colors, primary);
                  span {
                    display: block;
                    b {
                      margin: 2px 0;
                      display: block;
                      font-size: 14px;
                      font-weight: 400;
                    }
                  }
                }
                .name-services {
                  font-size: 12px;
                  padding: 0 5px; // border-right: 1px solid #ccc;
                  flex: 1 0 39%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #333;
                  h5 {
                    display: block;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 500;
                    font-size: 16px;
                  }
                  span {
                    font-size: 15px;
                  }
                }
                .mobile-no {
                  padding: 0 10px;
                  b {
                    font-size: 13px;
                    color: #333;
                  }
                  span {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    color: #333;
                    text-align: right;
                    i.flaticon-rupee-indian::before{
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
          .item-inner::before {
            content: '\f109';
            position: absolute;
            top: auto;
            right: 0;
            font-family: Flaticon;
            font-size: 16px;
            color: #444;
          }
        }
        ion-item-options {
          border-bottom: none;
          button {
            ion-icon {
              font-size: 26px;
              padding-bottom: 0 !important;
            }
          }
        }
      }
    }
    ion-list.no-border{
      border-bottom: none;
    }
    ion-list.completed {
      ion-item-sliding {
        ion-item {
          .item-inner {
            ion-label {
              .list-item {
                .time-slot {
                  border-left: 4px solid map-get($colors, success);
                }
              }
            }
          }
        }
      }
    }
    ion-list.cancelled {
      ion-item-sliding {
        ion-item {
          .item-inner {
            ion-label {
              .list-item {
                .time-slot {
                  border-left: 4px solid map-get($colors, danger);
                }
              }
            }
          }
        }
      }
    }
  }
}
