<ion-header>
  <ion-navbar>
    <button class="menu-icon" ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title (click)="openCal()">{{currentDateShowMonth}} {{currentDateShowDay}}
      <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div class="header-calender" *ngIf="isCalenderOpen">
    <ion-calendar [(ngModel)]="event.date" [options]="optionsMulti" (onChange)="selectDate($event)" [type]="type"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>
  </div>

  <div *ngIf="!isCalenderOpen" class="header-fixed">
    <div class="date-container">
      <i class="flat-icon-prev flaticon-left-chevron" (click)="prevDateClick(weekCount)"></i>
      <div class="date-list-container">
        <ul class="days-cotainer">
          <li>MO</li>
          <li>TU</li>
          <li>WE</li>
          <li>TH</li>
          <li>FR</li>
          <li>SA</li>
          <li>SU</li>
        </ul>
        <ul>
          <li *ngFor="let weekday of weeklyData" [ngClass]="{'active' : (this.currentDate ==weekday.date)}" (click)="selectNewDate(weekday.date)">{{weekday.showDate}}</li>
        </ul>
      </div>
      <i class="flat-icon-next flaticon-right-chevron" (click)="nextDateClick(weekCount)"></i>
    </div>
    <div class="booking-total-cotainer">
      <span>Bookings :
        <!-- <b>10</b> -->
        <b *ngIf="activeTab == 'completed'">{{completedTotalBooking}}</b>
        <b *ngIf="activeTab == 'upcoming'">{{upcomingTotalBooking}}</b>
        <b *ngIf="activeTab == 'cancelled'">{{cancelledTotalBooking}}</b>
      </span>
      <span>Amounts :
        <!-- <i class="flaticon-rupee-indian"></i> -->
        <!-- <b>1,000</b> -->
        <b *ngIf="activeTab == 'completed'">
          <i class="flaticon-rupee-indian"></i> {{completedTotalPrice}}</b>
        <b *ngIf="activeTab == 'upcoming'">
          <i class="flaticon-rupee-indian"></i> {{upcomingTotalPrice}}</b>
        <b *ngIf="activeTab == 'cancelled'">
          <i class="flaticon-rupee-indian"></i> {{cancelledTotalPrice}}</b>
      </span>
    </div>

    <div class="bookings-list-container">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="refresh"></ion-refresher-content>
      </ion-refresher>
      <div class="months-container" style="display:none;">
        <i class="flat-icon-prev flaticon-left-chevron" (click)="changeDate(prevDate)"></i>
        <ion-grid>
          <ion-row>
            <ion-col (click)="changeDate(prevDate)" class="text-left">
              <ion-label>{{prevDateShowDay}}
                <span>{{prevDateShowMonth}}</span>
              </ion-label>
            </ion-col>
            <ion-col class="active text-center">
              <ion-label>{{currentDateShowDay}}
                <span>{{currentDateShowMonth}}</span>
              </ion-label>
            </ion-col>
            <ion-col (click)="changeDate(nextDate)" class="text-right">
              <ion-label>{{nextDateShowDay}}
                <span>{{nextDateShowMonth}}</span>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <i class="flat-icon-next flaticon-right-chevron" (click)="changeDate(nextDate)"></i>
      </div>
      <div class="booking-statstics-container" style="display:none;">
        <ion-grid>
          <ion-row>
            <!-- <ion-col col-4> {{currentDateShowDayForMain}}
              <span>{{currentDateShowMonthForMain}}</span>
            </ion-col> -->
            <ion-col col-4>
              <span>Booking</span>
              <span *ngIf="activeTab == 'completed'">{{completedTotalBooking}}</span>
              <span *ngIf="activeTab == 'upcoming'">{{upcomingTotalBooking}}</span>
              <span *ngIf="activeTab == 'cancelled'">{{cancelledTotalBooking}}</span>
              <!-- <span>50</span> -->
            </ion-col>
            <ion-col col-4>
              <span>Amount</span>
              <span *ngIf="activeTab == 'completed'">
                <i class="flaticon-rupee-indian"></i> {{completedTotalPrice}}</span>
              <span *ngIf="activeTab == 'upcoming'">
                <i class="flaticon-rupee-indian"></i> {{upcomingTotalPrice}}</span>
              <span *ngIf="activeTab == 'cancelled'">
                <i class="flaticon-rupee-indian"></i> {{cancelledTotalPrice}}</span>
              <!-- <span><i class="flaticon-rupee-indian"></i> 5000</span> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="tabs-container">
      <ion-segment [(ngModel)]="activeTab" (ionChange)="updateDate()">
        <ion-segment-button ripple value="completed">
          Completed
        </ion-segment-button>
        <ion-segment-button value="upcoming">
          Upcoming
        </ion-segment-button>
        <ion-segment-button value="cancelled">
          Cancelled
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="tab-content" [ngSwitch]="activeTab">

      <ion-list class="completed" [ngClass]="{'no-border': (completedTotalBooking == 0)}" *ngSwitchCase="'completed'">
        <div class="no-booking-container" *ngIf="completedTotalBooking == 0">
          <i class="material-icons">date_range</i>
          No Booking available
        </div>
        <ion-item-sliding (click)="gotoDetailsPage(record)" *ngFor="let record of completedData">
          <ion-item *ngIf="record.today">
            <div class="list-item">
              <div class="time-slot">
                <span *ngFor="let t of record.timeslot; let first = first; let last = last;">
                  <b *ngIf="first">{{t.timeslot}}</b>
                  <b *ngIf="last">{{t.timeslot}}</b>
                </span>
                <!-- <span>02:00 am </span>
                  <span>04:00 am </span> -->
              </div>
              <div class="name-services">
                <h5>{{record.username}}</h5>
                <!-- <h5>Mayur D Patel</h5> -->
                <span *ngFor="let s of record.services ; let last = last">{{s.var_title}}
                  <span *ngIf="!last">,</span>
                </span>
                <!-- <span>Haircut, Saving, Facial, Bliching</span> -->
              </div>
              <div class="mobile-no">
                <!-- <b>{{record.bint_phone}}</b> -->
                <!-- <b>9727190205</b> -->
                <!-- <span><i class="flaticon-rupee-indian"></i> 100</span> -->
                <span>
                  <i class="flaticon-rupee-indian"></i>{{record.var_price}}</span>
              </div>
            </div>
          </ion-item>
        </ion-item-sliding>

      </ion-list>
      <ion-list class="upcoming" [ngClass]="{'no-border': (upcomingTotalBooking == 0)}" *ngSwitchCase="'upcoming'">
        <div class="no-booking-container" *ngIf="upcomingTotalBooking == 0">
          <i class="material-icons">date_range</i>
          No Booking available
        </div>
        <ion-item-sliding (click)="gotoDetailsPage(record)" *ngFor="let record of upcomingData">
          <ion-item *ngIf="record.today">
            <div class="list-item">
              <div class="time-slot">
                <span *ngFor="let t of record.timeslot; let first = first; let last = last;">
                  <b *ngIf="first">{{t.timeslot}}</b>
                  <b *ngIf="last">{{t.timeslot}}</b>
                </span>
                <!-- <span>02:00 am </span>
                  <span>04:00 am </span> -->
              </div>
              <div class="name-services">
                <h5>{{record.username}}</h5>
                <span *ngFor="let s of record.services ; let last = last">{{s.var_title}}
                  <span *ngIf="!last">,</span>
                </span>
              </div>
              <div class="mobile-no">
                <!-- <b>{{record.bint_phone}}</b> -->
                <span>
                  <i class="flaticon-rupee-indian"></i>{{record.var_price}}</span>
              </div>
            </div>
          </ion-item>
          <ion-item-options side="right">
            <button (click)="doneservice(record)" ion-button color="success">
              <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline"></ion-icon>
            </button>
            <button (click)="cancleservice(record)" ion-button color="danger">
              <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-list class="cancelled" [ngClass]="{'no-border': (cancelledTotalBooking == 0)}" *ngSwitchCase="'cancelled'">
        <div class="no-booking-container" *ngIf="cancelledTotalBooking == 0">
          <i class="material-icons">date_range</i>
          No Booking available
        </div>
        <ion-item-sliding (click)="gotoDetailsPage(record)" *ngFor="let record of cancelledData">
          <ion-item *ngIf="record.today">
            <div class="list-item">
              <div class="time-slot">
                <span *ngFor="let t of record.timeslot; let first = first; let last = last;">
                  <b *ngIf="first">{{t.timeslot}}</b>
                  <b *ngIf="last">{{t.timeslot}}</b>
                </span>
              </div>
              <div class="name-services">
                <h5>{{record.username}}</h5>
                <span *ngFor="let s of record.services ; let last = last">{{s.var_title}}
                  <span *ngIf="!last">,</span>
                </span>
              </div>
              <div class="mobile-no">
                <!-- <b>{{record.bint_phone}}</b> -->
                <span>
                  <i class="flaticon-rupee-indian"></i>{{record.var_price}}</span>
              </div>
            </div>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
