	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/02/2018 19:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0;
}

.flaticon-rupee-indian:before { content: "\f100"; }
.flaticon-indian-rupee:before { content: "\f101"; }
.flaticon-favorite-3:before { content: "\f102"; }
.flaticon-favorite-2:before { content: "\f103"; }
.flaticon-favorite-1:before { content: "\f104"; }
.flaticon-favorite:before { content: "\f105"; }
.flaticon-star-1:before { content: "\f106"; }
.flaticon-star:before { content: "\f107"; }
.flaticon-left-chevron:before { content: "\f108"; }
.flaticon-right-chevron:before { content: "\f109"; }
.flaticon-success-2:before { content: "\f10a"; }
.flaticon-tick:before { content: "\f10b"; }
.flaticon-success:before { content: "\f10c"; }
.flaticon-menu:before { content: "\f10d"; }
.flaticon-envelope:before { content: "\f10e"; }
.flaticon-search-1:before { content: "\f10f"; }
.flaticon-briefcase:before { content: "\f110"; }
.flaticon-icon:before { content: "\f111"; }
.flaticon-arrows:before { content: "\f112"; }
.flaticon-calendar-1:before { content: "\f113"; }
.flaticon-alarm:before { content: "\f114"; }
.flaticon-settings-1:before { content: "\f115"; }
.flaticon-placeholder:before { content: "\f116"; }
.flaticon-camera-1:before { content: "\f117"; }
.flaticon-message:before { content: "\f118"; }
.flaticon-search:before { content: "\f119"; }
.flaticon-avatar:before { content: "\f11a"; }
.flaticon-notification-1:before { content: "\f11b"; }
.flaticon-bank:before { content: "\f11c"; }
.flaticon-spray-3:before { content: "\f11d"; }
.flaticon-comb-2:before { content: "\f11e"; }
.flaticon-spray-2:before { content: "\f11f"; }
.flaticon-moustache:before { content: "\f120"; }
.flaticon-spray-1:before { content: "\f121"; }
.flaticon-electric-razor:before { content: "\f122"; }
.flaticon-razor-1:before { content: "\f123"; }
.flaticon-brush-2:before { content: "\f124"; }
.flaticon-spray:before { content: "\f125"; }
.flaticon-bow-tie:before { content: "\f126"; }
.flaticon-beard:before { content: "\f127"; }
.flaticon-comb-1:before { content: "\f128"; }
.flaticon-label:before { content: "\f129"; }
.flaticon-mirror:before { content: "\f12a"; }
.flaticon-comb:before { content: "\f12b"; }
.flaticon-cream:before { content: "\f12c"; }
.flaticon-razor:before { content: "\f12d"; }
.flaticon-tag:before { content: "\f12e"; }
.flaticon-filter-1:before { content: "\f12f"; }
.flaticon-user:before { content: "\f130"; }
.flaticon-add:before { content: "\f131"; }
.flaticon-plus:before { content: "\f132"; }
.flaticon-package:before { content: "\f133"; }
.flaticon-filter:before { content: "\f134"; }
.flaticon-camera:before { content: "\f135"; }
.flaticon-settings:before { content: "\f136"; }
.flaticon-book:before { content: "\f137"; }
.flaticon-gift:before { content: "\f138"; }
.flaticon-delete:before { content: "\f139"; }
.flaticon-loupe:before { content: "\f13a"; }
.flaticon-calendar:before { content: "\f13b"; }
.flaticon-mail:before { content: "\f13c"; }
.flaticon-lock:before { content: "\f13d"; }
.flaticon-block:before { content: "\f13e"; }
.flaticon-clock:before { content: "\f13f"; }
.flaticon-alarm-clock:before { content: "\f140"; }
.flaticon-picture:before { content: "\f141"; }
.flaticon-notification:before { content: "\f142"; }
.flaticon-eye:before { content: "\f143"; }
.flaticon-push-pin:before { content: "\f144"; }
.flaticon-pie-chart:before { content: "\f145"; }
.flaticon-day-15-on-calendar:before { content: "\f146"; }
.flaticon-scissors-3:before { content: "\f147"; }
.flaticon-shapes-5:before { content: "\f148"; }
.flaticon-tool-15:before { content: "\f149"; }
.flaticon-shape-8:before { content: "\f14a"; }
.flaticon-cut-9:before { content: "\f14b"; }
.flaticon-tool-14:before { content: "\f14c"; }
.flaticon-tool-13:before { content: "\f14d"; }
.flaticon-shape-7:before { content: "\f14e"; }
.flaticon-tool-12:before { content: "\f14f"; }
.flaticon-hair-salon-spray-bottle-and-can:before { content: "\f150"; }
.flaticon-people-4:before { content: "\f151"; }
.flaticon-scissors-opened-tool:before { content: "\f152"; }
.flaticon-shapes-4:before { content: "\f153"; }
.flaticon-tool-11:before { content: "\f154"; }
.flaticon-female-head-silhouette:before { content: "\f155"; }
.flaticon-hairdresser-10:before { content: "\f156"; }
.flaticon-hairdresser-washing-the-hair-of-a-client-with-bubbles-shampoo:before { content: "\f157"; }
.flaticon-scissors-and-comb:before { content: "\f158"; }
.flaticon-tool-10:before { content: "\f159"; }
.flaticon-cut-8:before { content: "\f15a"; }
.flaticon-shapes-3:before { content: "\f15b"; }
.flaticon-tool-9:before { content: "\f15c"; }
.flaticon-application:before { content: "\f15d"; }
.flaticon-hairdresser-9:before { content: "\f15e"; }
.flaticon-shape-6:before { content: "\f15f"; }
.flaticon-cut-7:before { content: "\f160"; }
.flaticon-shape-5:before { content: "\f161"; }
.flaticon-male-head-hair-and-beard:before { content: "\f162"; }
.flaticon-black-5:before { content: "\f163"; }
.flaticon-photo-camera-vintage:before { content: "\f164"; }
.flaticon-hairdresser-8:before { content: "\f165"; }
.flaticon-shapes-2:before { content: "\f166"; }
.flaticon-male-hair-of-head-and-face-shapes:before { content: "\f167"; }
.flaticon-one-comb:before { content: "\f168"; }
.flaticon-two:before { content: "\f169"; }
.flaticon-hairdresser-7:before { content: "\f16a"; }
.flaticon-heads-hairs-and-scissors:before { content: "\f16b"; }
.flaticon-tool-8:before { content: "\f16c"; }
.flaticon-cut-6:before { content: "\f16d"; }
.flaticon-shapes-1:before { content: "\f16e"; }
.flaticon-hairdresser-6:before { content: "\f16f"; }
.flaticon-tool-7:before { content: "\f170"; }
.flaticon-female-hair-shape-and-face-silhouette:before { content: "\f171"; }
.flaticon-people-3:before { content: "\f172"; }
.flaticon-black-4:before { content: "\f173"; }
.flaticon-hairdresser-5:before { content: "\f174"; }
.flaticon-tool-6:before { content: "\f175"; }
.flaticon-black-3:before { content: "\f176"; }
.flaticon-chair-side-view-silhouette:before { content: "\f177"; }
.flaticon-tool-5:before { content: "\f178"; }
.flaticon-shapes:before { content: "\f179"; }
.flaticon-hairdresser-4:before { content: "\f17a"; }
.flaticon-hair-salon-fen-silhouette:before { content: "\f17b"; }
.flaticon-tool-4:before { content: "\f17c"; }
.flaticon-cut-5:before { content: "\f17d"; }
.flaticon-people-2:before { content: "\f17e"; }
.flaticon-mustache-shape:before { content: "\f17f"; }
.flaticon-hairdresser-3:before { content: "\f180"; }
.flaticon-bottle:before { content: "\f181"; }
.flaticon-woman-head-side-silhouette:before { content: "\f182"; }
.flaticon-cut-4:before { content: "\f183"; }
.flaticon-people-1:before { content: "\f184"; }
.flaticon-three-bottles-of-hair-salon:before { content: "\f185"; }
.flaticon-female-head-with-ponytail:before { content: "\f186"; }
.flaticon-shape-4:before { content: "\f187"; }
.flaticon-cover:before { content: "\f188"; }
.flaticon-hairdresser-2:before { content: "\f189"; }
.flaticon-black-2:before { content: "\f18a"; }
.flaticon-tool-3:before { content: "\f18b"; }
.flaticon-scissors-2:before { content: "\f18c"; }
.flaticon-hairdresser-1:before { content: "\f18d"; }
.flaticon-shape-3:before { content: "\f18e"; }
.flaticon-female-hairs:before { content: "\f18f"; }
.flaticon-scissors-1:before { content: "\f190"; }
.flaticon-human:before { content: "\f191"; }
.flaticon-hairdryer-silhouette-side-view:before { content: "\f192"; }
.flaticon-cut-3:before { content: "\f193"; }
.flaticon-tool-2:before { content: "\f194"; }
.flaticon-hairdresser-with-scissors-cutting-the-hair-to-a-client-sitting-in-front-of-him:before { content: "\f195"; }
.flaticon-tool-1:before { content: "\f196"; }
.flaticon-cut-2:before { content: "\f197"; }
.flaticon-cut-1:before { content: "\f198"; }
.flaticon-brush-1:before { content: "\f199"; }
.flaticon-shape-2:before { content: "\f19a"; }
.flaticon-razor-hair-salon-tool:before { content: "\f19b"; }
.flaticon-man-head-and-a-shaver:before { content: "\f19c"; }
.flaticon-shape-1:before { content: "\f19d"; }
.flaticon-hair-straighter-and-hair-curler:before { content: "\f19e"; }
.flaticon-black-1:before { content: "\f19f"; }
.flaticon-hairdresser-with-comb-and-scissors:before { content: "\f1a0"; }
.flaticon-brush:before { content: "\f1a1"; }
.flaticon-hairdresser:before { content: "\f1a2"; }
.flaticon-hairdryer-and-comb:before { content: "\f1a3"; }
.flaticon-cut:before { content: "\f1a4"; }
.flaticon-shape:before { content: "\f1a5"; }
.flaticon-black:before { content: "\f1a6"; }
.flaticon-mirror-of-oval-shape:before { content: "\f1a7"; }
.flaticon-scissors:before { content: "\f1a8"; }
.flaticon-people:before { content: "\f1a9"; }
.flaticon-boy-hair-shape:before { content: "\f1aa"; }
.flaticon-brush-tool:before { content: "\f1ab"; }
.flaticon-phone-auricular-and-buttons:before { content: "\f1ac"; }
.flaticon-add-a-contact-interface-phone-symbol:before { content: "\f1ad"; }
.flaticon-mobile-phone-call-sign:before { content: "\f1ae"; }
.flaticon-bell-outline-interface-symbol:before { content: "\f1af"; }
.flaticon-card-back:before { content: "\f1b0"; }
.flaticon-gps-sign:before { content: "\f1b1"; }
.flaticon-contacts:before { content: "\f1b2"; }
.flaticon-mobile-phone-outline-with-wifi-connection-sign-on-screen:before { content: "\f1b3"; }
.flaticon-mobile-phone-auricular-part-outline-with-call-sound-lines:before { content: "\f1b4"; }
.flaticon-stand-by-button:before { content: "\f1b5"; }
.flaticon-mute:before { content: "\f1b6"; }
.flaticon-earset:before { content: "\f1b7"; }
.flaticon-control-pannel:before { content: "\f1b8"; }
.flaticon-radar-localization:before { content: "\f1b9"; }
.flaticon-photos-selection:before { content: "\f1ba"; }
.flaticon-contact-cards:before { content: "\f1bb"; }
.flaticon-monthly-calendar:before { content: "\f1bc"; }
.flaticon-tool:before { content: "\f1bd"; }