<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Services</ion-title>
    <button ion-button right (click)="addServices()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="staff !== undefined">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item-sliding *ngFor="let service of staff">
        {{service}}
        <ion-item *ngIf="staff" (click)="selectService(service)">
          <button [ngClass]=" {'serviceDisabled':service.enum_enable == 'NO'}">
            <b>{{service.dt_service_time}}
              <span>min</span>
            </b>
            <span>{{service.var_title}}</span>
            <span class="service-price">
              <i class="flaticon-rupee-indian"></i> {{service.var_price}}</span>
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteServices(service)">
            <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="no-service-container" *ngIf="staff == undefined">
      <i class="material-icons">work_off</i>
      No Services available
  </div>
</ion-content>