page-holiday {
    .scroll-content {
        padding: 0 !important;
        ion-calendar {
            padding: 0;
            button.days-btn.active {
                P {
                    // background: #ccc;
                }
            }
            button.days-btn.active:after {
                content: '';
                width: 8px;
                height: 8px;
                display: inline-block;
                background: red;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            button.days-btn.active.on-selected::after {
                content: unset;
            }
        }
        .toolbar-background {
            background: map-get($colors, 'secondary' ) !important;
        }
        .toolbar-content {
            .week-title {
              padding: 0;
                li {
                    color: #fff;
                    font-weight: 500;
                    line-height: 44px;
                }
            }
        }
        .holiday-active {
            display: flex;
            justify-content: flex-end;
            ion-label {
                margin: 10px;
            }
        }
        ion-list {
            margin-bottom: 0;
            ion-item {
                padding: 0;
                .item-inner {
                    padding: 0 10px;
                    box-shadow: none !important;
                    border-bottom: 1px solid #dedede !important;
                }
            }
        }
        .submit-btn {
            width: calc(100% - 20px);
            // position: fixed;
            // bottom: 0;
            margin: 10px;
        }
    }
}
