<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Holiday Manager</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item *ngFor="let week of weekoffArray">
    <ion-label>{{week.day}}</ion-label>
    <ion-checkbox [(ngModel)]="week.checked" [disabled]="week.disabled" (click)="checked(week)" color="royal"></ion-checkbox>
  </ion-item> -->
  <ion-calendar [(ngModel)]="event.date" [options]="optionsMulti" (onChange)="selectDate($event)" [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>
  <!-- <table border="1" *ngIf="TableArry">
    <tr>
      <th>Date</th>
      <th>Time Duration</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let cat of TableArry">
      <td>{{cat.dt_holiday_date}}</td>
      <td>{{cat.dt_start_time}} - {{cat.dt_end_time}}</td>
      <td>{{cat.txt_note}}</td>
      <td>
        <a (click)="deleteHoliday(cat)">Delete</a>
      </td>
    </tr>

  </table> -->
  <!-- <div class="holiday-active">
    <ion-label>Is Holiday ?</ion-label>
    <ion-toggle [(ngModel)]="event.isHoliday"></ion-toggle>
  </div> -->
  <!-- <ion-item>
    <ion-checkbox [(ngModel)]="event.isHoliday" color="royal"></ion-checkbox>

  </ion-item> -->
  <ion-list>
    <ion-item>
      <ion-label>Note:</ion-label>
      <ion-input type="text" [(ngModel)]="event.note"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeEnds"></ion-datetime>
    </ion-item>
  </ion-list>
  <div class="has-two-btns" *ngIf="event && isedit == true">
    <button class="submit-btn" ion-button (click)="addHoliday()">{{(isedit) ? 'Update' : 'Add'}}</button>
    <button *ngIf="isedit" (click)="deleteHoliday(event)" class="delete-btn" ion-button>
      <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
    </button>
  </div>
  <!-- <ion-list>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
    </ion-item>
  </ion-list> -->

</ion-content>
