<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <button ion-button right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <button (click)="prevDay(prevDate)" ion-button small>{{prevDate}}</button>
  <span>{{currentDate}}</span>
  <button (click)="nextDay(nextDate)" ion-button small>{{nextDate}}</button>

  <ion-toolbar no-border-top class="tab-block">
    <ion-segment [(ngModel)]="tabbing" (ionChange)="tabchange(tabbing)">
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="cancelled">
        Cancelled
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="tabbing">
    <ion-list *ngSwitchCase="'completed'">
      <button *ngFor="let service of completedservice" (click)="selectUser(item)" ion-item>
        <span>
          {{service.timefrom}} - {{service.timeto}}
          <p *ngFor="let servicename of service.service">{{servicename}}</p>
          <b>{{service.total}}</b>
          <br>
        </span>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'upcoming'">
      <button *ngFor="let service of upcomingservice" (click)="selectUser(item)" ion-item>
        <span>
          {{service.timefrom}} - {{service.timeto}}
          <p *ngFor="let servicename of service.service">{{servicename}}</p>
          <b>{{service.total}}</b>
          <br>
        </span>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'cancelled'">
      <button *ngFor="let service of cancelledservice" (click)="selectUser(item)" ion-item>
        <span>
          {{service.timefrom}} - {{service.timeto}}
          <p *ngFor="let servicename of service.service">{{servicename}}</p>
          <b>{{service.total}}</b>
          <br>
        </span>
      </button>
    </ion-list>
  </div>
</ion-content>