<ion-header>
  <ion-navbar>
    <button ion-button tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>Add Service</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="add-service-container" padding>
  <!-- <ion-list>
    <ion-item>
      <ion-label *ngIf="event"> {{(event.isAdd == true ? 'Add Service' : 'Edit Service')}} </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <ion-label>Name</ion-label> -->

  <ion-list>
    <input [ngClass]="{'red-border': (event.name == '' && submitClicked)}" class="auto-complete" [disabled]="(event.isAdd == true ? false : true)"
      [(ngModel)]="event.name" (ngModelChange)="getVenueName(venue_name)" auto-complete [source]="arrayOfStrings" placeholder="Select Service"
    />
    <ion-item [ngClass]="{'red-border': (event.price == '' && submitClicked)}">
      <ion-label stacked>Price</ion-label>
      <ion-input type="number" [(ngModel)]="event.price"></ion-input>
    </ion-item>
    <!-- [disabled]="(event.price.length > 0? false : true)" -->
    <button class="submit-btn" ion-button (click)="addService()">{{(event.isAdd == true ? 'Add Service' : 'Edit Service')}}</button>
  </ion-list>
</ion-content>
