page-customer-detail {
    .scroll-content {
        padding: 0 !important;
        background:#fff !important;
        top: 0 !important;
        ion-list.customer-detail-container{
            ion-item {
                .item-inner::before {
                    content: "" !important;
                }
            }
        }
        ion-list {
            margin: 0 !important;
            ion-item {
                padding: 0 !important; // margin: 5px 0;
                .item-inner {
                    padding: 10px 0 !important;
                    background: #f2f2f2;
                    .input-wrapper {
                        padding: 5px 10px !important;
                        ion-label {
                            margin: 0 !important;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .avtar-img {
                                margin-right: 10px;
                                display: flex;
                                align-items: center;
                                flex: 0 0 100px;
                                height: 100px;
                                border: 2px solid map-get($colors, primary);
                                padding: 3px;
                                border-radius: 100%;
                                img {
                                    border-radius: 100%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .name-action-container {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                                h3 {
                                    font-weight: 400;
                                    color: map-get($colors, primary);
                                    font-size: 18px;
                                    span {
                                        font-size: 18px;
                                        color: map-get($colors, grey);
                                        display: block;
                                        line-height: 26px;
                                    }
                                }
                                .actions {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    flex: 0 0 100%;
                                    ion-icon {
                                        display: flex;
                                        font-size: 32px; // border: 1px solid map-get($colors, primary);
                                        // padding: 3px;
                                        margin: 0 5px;
                                        width: 35px;
                                        height: 35px;
                                        border-radius: 100%;
                                        text-align: center;
                                        line-height: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        color: map-get($colors, primary); // background: #ff0000;
                                    }
                                    ion-icon:nth-child(1) {
                                        margin-left: 0;
                                    }
                                    ion-icon.whatsapp-icon {
                                        color: #25D366;
                                    }
                                    ion-icon.mail-icon {
                                        color: #D75D5D;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
        .booking-statstics-container {
            background: #fff;
            margin: 0;
            ion-grid {
                text-align: center;
                width: 95%;
                margin: 0 auto;
                box-shadow: none;
                padding: 10px;
                ion-row {
                    ion-col {
                        font-size: 22px;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 500;
                        color: map-get($colors, primary);
                        padding: 0;
                        i.flaticon-rupee-indian::before {
                            font-size: 18px;
                        }
                        span {
                            font-size: 14px;
                            font-weight: 500;
                            display: block;
                            color: #444;
                            margin-top: 5px;
                        }
                    }
                    ion-col:nth-child(1),
                        {
                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        h2.head-title {
            background: map-get($colors, secondary);
            color: map-get($colors, white);
            text-align: center;
            width: 100%;
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            min-height: 40px;
            position: relative;
        }
        ion-list {
            .no-booking-container{
                text-align: center;
                padding:50px 0;
                font-size: 20px;
                color: #ddd;
                height: 100%;
                i{
                  font-size: 200px;
                  display: block;
                  margin-bottom: 10px;
                }
              }
            ion-item {
                padding: 0 !important; // margin: 5px 0;
                border-bottom: 1px solid #ccc;
                position: relative;
                .item-inner {
                    padding: 0 10px 0 0 !important;
                    background: #fff;
                    .input-wrapper {
                        padding: 10px !important;
                        ion-label {
                            margin: 0 !important;
                            display: flex;
                            align-content: center;
                            justify-content: space-between;
                            white-space: normal;
                            .date-time-container {
                                font-size: 13px;
                                display: block;
                                border: 1px solid #ccc;
                                padding: 5px 10px;
                                border-radius: 4px;
                                margin: 0 5px 0 0;
                                border-left: 4px solid map-get($colors, primary);
                                .date-container {
                                    display: block;
                                    font-size: 14px;
                                    text-align: center;
                                    margin-bottom: 0;
                                    color: map-get($colors, primary);
                                    b {
                                        display: block;
                                        font-size: 18px;
                                        margin-right: 5px;
                                    }
                                }
                                .time-container {
                                    b {
                                        font-weight: 400;
                                        display: block;
                                        font-size: 14px;
                                    }
                                }
                            }
                            .services-links {
                                font-size: 15px;
                                padding: 8px 5px; // border-right: 1px solid #ccc;
                                flex: 1 0 39%;
                                white-space: normal;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: #555;
                                h5 {
                                    display: block;
                                    font-weight: 500;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    font-weight: 500;
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                            }
                            .price-container {
                                padding: 0 10px;
                                display: flex;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 500;
                                color: #333;
                                text-align: right;
                                i.flaticon-rupee-indian::before {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .item-inner::before {
                    content: '\f109';
                    position: absolute;
                    top: auto;
                    right: 5px;
                    font-family: Flaticon;
                    font-size: 16px;
                    color: #444;
                  }
            }
            ion-item.cancelled-booking {
                .item-inner {
                    .input-wrapper {
                        ion-label {
                            .date-time-container {
                                border-left: 4px solid map-get($colors, danger);
                            }
                        }
                    }
                }
            }
            ion-item.completed-booking {
                .item-inner {
                    .input-wrapper {
                        ion-label {
                            .date-time-container {
                                border-left: 4px solid map-get($colors, success);
                            }
                        }
                    }
                }
            }
        }
        .list-md .item-block .item-inner {
            border-bottom: none;
        }
    }
}
