<ion-header>
  <ion-navbar>
    <button ion-button tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title *ngIf="data">{{data.username}}</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="customer-detail-container">
    <ion-item>
      <div class="avtar-img">
        <img [src]="data.var_profile_image" />
      </div>
      <div class="name-action-container">
        <h3>
          <!-- {{data.username}} -->
          <span>{{data.var_email}}</span>
          <span>{{data.bint_phone}}</span>
        </h3>
        <div class="actions">
          <ion-icon ios="ios-call" (click)="call($event,data);" md="md-call"></ion-icon>
          <ion-icon class="whatsapp-icon" ios="logo-whatsapp" (click)="share($event,data);" md="logo-whatsapp"></ion-icon>
          <!-- <ion-icon ios="ios-person-add" (click)="sendEmail($event,data);" md="md-person-add"></ion-icon> -->
          <ion-icon class="mail-icon" ios="ios-mail" (click)="sendEmail($event,data);" md="md-mail"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div class="booking-statstics-container">
    <ion-grid>
      <ion-row>
        <ion-col col-6> {{data.noofbooking}}
          <span>Total Bookings</span>
        </ion-col>
        <ion-col col-6>
          <i class="flaticon-rupee-indian"></i> {{data.total}}
          <span>Total Revenue</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <h2 class="head-title">
    Bookings 
  </h2>
  <ion-list>
    <div class="no-booking-container" style="display:none">
      <i class="material-icons">date_range</i>
      No Booking available
    </div>
    <ion-item (click)="goToBookingViewPage(user);" *ngFor="let user of userDetails" [ngClass]=" {'cancelled-booking':user.enum_book_type == 'CANCEL','completed-booking':user.enum_book_type == 'COMPLETED' } "
      class="">
      <div class="date-time-container">
        <span class="date-container">
          {{user.dt_booking_date_month}}
          <b>{{user.dt_booking_date_day}}</b>
        </span>
        <span class="time-container">
          <b>{{user.timeslotFirst}}</b>
          <!-- <b> {{user.timeslotSec}}</b> -->
        </span>
      </div>
      <div class="services-links">
        <!-- <h5>
          Hair Salon 1
        </h5> -->
        <div class="services-container">{{user.services}}</div>
      </div>
      <div class="price-container">
        <i class="flaticon-rupee-indian"></i> {{user.var_price}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>