page-settings {
    ion-content.add-settings-container {
        .scroll-content {
            // margin-top: 55px !important;
            padding: 0 !important
        }
        ion-list {
            margin: 0;
            height: 100%;
            ion-item {
                padding-left: 0;
                .item-inner {
                    padding: 10px 0 !important;
                    margin: 0 10px;
                    box-shadow: none !important;
                    border-bottom: 1px solid #dedede !important;
                    .input-wrapper {
                        ion-label.label {
                            margin: 0 !important;
                            font-size: 14px;
                        }
                        ion-input {
                            font-size: 16px;
                            input::-webkit-input-placeholder {
                                /* Chrome/Opera/Safari */
                                font-size: 14px;
                            }
                            input::-moz-placeholder {
                                /* Firefox 19+ */
                                font-size: 14px;
                            }
                            input:-ms-input-placeholder {
                                /* IE 10+ */
                                font-size: 14px;
                            }
                            input:-moz-placeholder {
                                /* Firefox 18- */
                                font-size: 14px;
                            }
                        }
                        ion-select {
                            font-size: 16px;
                            .select-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            ion-item.last-child-item {
                .item-inner {
                    border: none !important;
                }
            }
            .submit-btn {
                width: calc(100% - 20px);
                margin: 10px;
            }
        }
    }
}
