<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>General Settings</ion-title>
    <!-- <button ion-button right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header>

<ion-content class="add-settings-container" padding>
  <ion-list>
    <ion-item (click)="selectCategory()">
      <ion-label stacked>Category:</ion-label>
      <ion-label>{{saloonFor}}</ion-label>
      <!-- <ion-select [(ngModel)]="saloonFor" placeholder="please select saloon category">
        <ion-option value="MEN">Male</ion-option>
        <ion-option value="WOMEN">Female</ion-option>
        <ion-option value="BOTH">Both</ion-option>
      </ion-select> -->
    </ion-item>
    <ion-item (click)="selectNoSheet()">
      <ion-label stacked>No of Seat available:</ion-label>
      <ion-label>{{event.availableSeat}}</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Week of:</ion-label>
    </ion-item> -->
    <!-- <ion-item *ngFor="let week of weekoffArray">
      <ion-label>{{week.day}}</ion-label>
      <ion-checkbox [(ngModel)]="week.checked" [disabled]="week.disabled" (click)="checked(week)" color="royal"> {{week.day}}</ion-checkbox>
    </ion-item> -->

    <ion-item (click)="selectWeekOff()">
      <ion-label stacked>Week off: </ion-label>
      <ion-label>{{event.weekOff}}</ion-label>
      <!-- <ion-select [(ngModel)]="weekoff" placeholder="Please select weekly holiday">
        <ion-option *ngFor="let week of weekoffArray" [value]="week.day">{{week.day}}</ion-option>
      </ion-select> -->
    </ion-item>

    <!-- <ion-list radio-group [(ngModel)]="saloonFor">
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="MEN"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="WOMEN"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Both</ion-label>
        <ion-radio value="BOTH"></ion-radio>
      </ion-item>
    </ion-list> -->

    <ion-item>
      <ion-label stacked>Facebook link:</ion-label>
      <ion-input type="text" [(ngModel)]="event.fb_link" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Instagram link:</ion-label>
      <ion-input type="text" [(ngModel)]="event.instagram_link" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Twitter link:</ion-label>
      <ion-input type="text" [(ngModel)]="event.twitter_link" placeholder=""></ion-input>
    </ion-item>
    <ion-item class="last-child-item">
      <ion-label stacked>WhatsApp no:</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="event.whatsApp_num" placeholder=""></ion-input>
    </ion-item>

    <!-- <button ion-button [disabled]="disabled()" (click)="addBank()">Add Bank</button> -->
    <button class="submit-btn" [disabled]="(event.availableSeat.length > 0 && saloonFor ? false : true)" ion-button (click)="updateSettings()">Update</button>
  </ion-list>
</ion-content>
