<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Offers</ion-title>
    <button ion-button right (click)="addPackage()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="offers.length > 0">
    <ion-list>
      <ion-item-sliding *ngFor="let offer of offers">
        <ion-item (click)="goTopackagesDetail(offer);">
          <button>
            <i class="material-icons gift-icon">card_giftcard</i>
            <div class="packages-name-services">
              <div class="package-name">{{offer.var_name}}</div>
              <div class="package-services">
                {{offer.dt_start_date | date: 'd MMM y'}} to {{offer.dt_end_date | date: 'd MMM y'}}
              </div>
            </div>
            <span class="package-price">
              <b class="check-price">
                <i class="flaticon-rupee-indian"></i> {{offer.var_price}}</b>
              <b>
                <i class="flaticon-rupee-indian"></i> {{offer.var_offer_price}}</b>
            </span>
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteOffer(offer);">
            <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="no-data-container" *ngIf="offers.length == 0">
    <i class="material-icons">card_giftcard</i>
    No Offers available
  </div>
</ion-content>