<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Clients</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="staff.length > 0">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let c of staff" (click)="goToCustomerDetail(c);">
        <div class="avtar-img">
          <img [src]="c.var_profile_image_thumb" />
        </div>
        <div class="name-container">{{c.username}}
          <span>{{c.bint_phone}}</span>
        </div>
        <div class="actions">
          <ion-icon ios="ios-call" (click)="call($event,c);" md="md-call"></ion-icon>
          <ion-icon class="whatsapp-icon" ios="logo-whatsapp" (click)="share($event,c);" md="logo-whatsapp"></ion-icon>
          <!-- <ion-icon ios="ios-person-add" (click)="sendEmail($event,c);" md="md-person-add"></ion-icon> -->
          <ion-icon class="mail-icon" ios="ios-mail" (click)="sendEmail($event,c);" md="md-mail"></ion-icon>
        </div>
      </ion-item>

      <!-- <button *ngFor="let service of staff" (click)="selectUser(item)" ion-item>
      <span>
        {{service.noofbooking}} | {{service.username}} | {{service.bint_phone}} |
        <b>{{service.total}}</b>
        <br>
      </span>
    </button> -->
    </ion-list>
  </div>
  <div class="no-data-container" *ngIf="staff.length == 0">
    <i class="material-icons">group</i>
    No clients available
  </div>
</ion-content>