page-customer {
    .scroll-content {
        padding: 0 !important;
        ion-searchbar {
            padding: 0;
            border-bottom: 1px solid #ccc;
            position: fixed;
            top: 1px;
            width: 100%;
            height: auto;
            left: 0;
            z-index: 999;
            background: map-get($colors, white );
            .searchbar-search-icon {
                left: 10px;
            }
            input {
                box-shadow: none !important;
                padding: 6px 40px !important;
            }
        }
        ion-list {
            padding-top: 44px;
            margin-top: 0 !important;
            ion-item {
                padding: 0 !important; // margin: 5px 0;
                .item-inner {
                    padding: 0 !important;
                    .input-wrapper {
                        padding: 10px !important;
                        ion-label {
                            margin: 0 !important;
                            display: flex;
                            align-content: center;
                            justify-content: space-around;
                            .avtar-img {
                                margin-right: 5px;
                                display: flex;
                                align-items: center;
                                flex: 0 0 50px;
                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100%;
                                    object-fit: cover;
                                }
                            }
                            .name-container,
                            .actions {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .name-container {
                                white-space: normal;
                                margin-right: 5px;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                font-weight: 400;
                                color: #000;
                                font-size: 16px;
                                flex: 0 0 45%;
                                span {
                                    flex: 0 0 100%;
                                    font-weight: 400;
                                    color: map-get($colors, grey);
                                }
                            }
                            .actions {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                flex: 0 0 calc(100% - (60px + 45%));
                                ion-icon {
                                    display: flex;
                                    font-size: 30px;
                                    // border: 1px solid map-get($colors, primary);
                                    padding: 0;
                                    margin: 0 3px;
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 100%;
                                    text-align: center;
                                    line-height: 35px;
                                    align-items: center;
                                    justify-content: center;
                                    color: map-get($colors, primary); // background: #ff0000;
                                }
                                ion-icon.whatsapp-icon{
                                  color: #25D366;
                                }
                                ion-icon.mail-icon{
                                  color: #D75D5D;
                                }
                            }
                        }
                    }
                }
            }
        }
        .list-ios > .item-block:first-child {
            border-top: none;
        }
    }
}
