<ion-header>
  <ion-navbar>
    <button ion-button tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>Add Portfolio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngIf="image == ''">
    <div (click)="selectImage()">
      <span>Upload Image</span>
    </div>
    <hr>
  </div>
  <div (click)="selectImage()" *ngIf="image != ''" >
    <img [src]="image" />
  </div> -->
  <div [ngClass]="{'red-border': (image == '' && submitClicked)}" class="logo-section">
    <div (click)="selectImage()" *ngIf="image == ''" class="business-logo">
      <span>Upload Image</span>
    </div>
    <div (click)="selectImage()" *ngIf="image != ''" class="business-logo">
      <img [src]="image" />
    </div>
    <hr>
  </div>
  <ion-list>
    <ion-item>
      <ion-label stacked>Title:</ion-label>
      <ion-input type="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>
  </ion-list>
  <div class="btn-area">
    <button class="submit-btn" ion-button (click)="addPortfolio()">Submit</button>
  </div>


</ion-content>
