page-add-portfolio {
  .scroll-content {
    background: #fff !important;
    .logo-section {
      background: #fff;
      padding: 15px 0 0; // border-bottom: 1px solid #dedede;
      .business-logo {
        text-align: center;
        padding: 0;
        display: table;
        margin: 1px auto 10px;
        border: 2px solid map-get($colors, primary);
        border-radius: 100%;
        margin: 0 auto;
        span {
          background: map-get($colors, primary);
          color: #fff;
          height: 130px;
          width: 130px;
          line-height: 26px;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          border-radius: 100%;
          display: table-cell;
          margin: 0 auto;
          text-align: center;
          vertical-align: middle;
          border: 4px solid #fff;
          padding: 10px;
        }
        img {
          // background: map-get($colors, primary);
          color: #fff;
          height: 130px;
          width: 130px;
          line-height: 26px;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          border-radius: 100%;
          display: table-cell;
          margin: 0 auto;
          text-align: center;
          vertical-align: middle;
          border: 4px solid #fff; // padding: 10px;
        }
      }
      hr {
        margin: 25px 0 0;
        background-color: #dedede;
      }
    }
    ion-list {
      margin: 0;
      padding: 0;
      ion-label.heading-day {
        background: map-get($colors, 'primary');
        color: #fff;
        margin: 0 !important;
        padding: 10px;
        flex: 0 0 100%;
        text-transform: capitalize;
      }
      button.submit-btn {
        width: calc(100% - 20px);
        margin: 10px;
      }
      ion-item {
        padding-left: 0; // margin: 10px;
        // width: calc(100% - 20px);
        .item-inner {
          padding: 10px 0 !important;
          margin: 0;
          box-shadow: none !important;
          // border-bottom: 1px solid #dedede !important;
          .input-wrapper {
            ion-label.label {
              margin: 0 !important;
              font-size: 14px;
            }
            ion-input {
              font-size: 16px;
              font-weight: 500;
              color: #444;
            }
          }
        }
      }

    }
    .btn-area {
      padding: 15px 0; // margin-top: 15px;
    }
  }
}
