<ion-header>
  <ion-navbar>
    <button ion-button menuToggle tappble (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title *ngIf="event.isAdd == true">Add Staff Member</ion-title>
    <ion-title *ngIf="event.isAdd == false">Edit Staff Member</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="logo-section">
    <div (click)="selectImage()" *ngIf="event.image == ''" class="business-logo">
      <span>Upload Picture</span>
    </div>
    <div (click)="selectImage()" *ngIf="event.image != ''" class="business-logo">
      <img [src]="event.image" />
    </div>
    <hr>
  </div>
  <ion-list>
    <ion-item [ngClass]="{'red-border': (event.name == '' && submitClicked)}">
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="event.name"></ion-input>
    </ion-item>
    <span class="error help-block">
        {{(event.name == '' && submitClicked ? 'Please Enter Staff Name' : '')}}
    </span>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="event.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.startDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!event.current">
      <ion-label stacked>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" min="{{currentYear}}" [(ngModel)]="event.endDate"></ion-datetime>
    </ion-item>
    <ion-label class="heading-day">Member Status:</ion-label>
    <ion-item class="avalibities-item">
      <ion-label>Current</ion-label>
      <ion-checkbox [(ngModel)]="event.current" color="royal"></ion-checkbox>
    </ion-item>
    <ion-item class="avalibities-item">
      <ion-label>Active</ion-label>
      <ion-checkbox [(ngModel)]="event.active" color="royal"></ion-checkbox>
    </ion-item>
    <ion-item class="avalibities-item">
      <ion-label>Front View</ion-label>
      <ion-checkbox [(ngModel)]="event.isFrontView" color="royal"></ion-checkbox>
    </ion-item>
    <div class="has-two-btns" *ngIf="event && event.isAdd == false">
      <!-- [disabled]="(event.name.length > 0 && event.phone.length > 9 && event.phone.length < 11 ? false : true)" -->
      <button class="submit-btn" ion-button (click)="addStaff()">Save Staff</button>
      <button (click)="deleteStaff(event)" class="delete-btn" ion-button>
        <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
      </button>
    </div>
    <!-- [disabled]="(event.name.length > 0 && event.phone.length > 9 && event.phone.length < 11 ? false : true)" -->
    <button class="submit-btn" *ngIf="event && event.isAdd == true" ion-button (click)="addStaff()">Save Staff</button>
  </ion-list>
</ion-content>
