<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Payment History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="payment-history-container">
  <div *ngIf="totalGetamount != null">
    <div class="get-payment-container">
      <h4>Available Balance
        <b>
          <i class="flaticon-rupee-indian"></i>{{totalGetamount}}</b>
      </h4>
      <ion-list class="get-payment-input">
        <div class="input-btn-inline">
          <!-- <ion-item [ngClass]="{'red-border': (event.amount < 1 && submitClicked)}">
            <ion-label stacked>Enter Amount</ion-label>
            <ion-input type="number" [(ngModel)]="event.amount" pattern="[0-9]+" placeholder="Enter Amount"></ion-input>
          </ion-item> -->
          <span class="error help-block">
            {{(submitClicked && (event.amount < 1) ? 'Please enter amount greater than 0' : '')}}
          </span>
          <div class="btn-area">
            <button class="submit-btn" ion-button (click)="showDoPayment()">Get Payment</button>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="payment-container">
      <div class="tabs-container">
        <ion-segment [(ngModel)]="activeTab" (ionChange)="changeTab(activeTab)">
          <ion-segment-button ripple value="Recieved">
            Recieved
          </ion-segment-button>
          <ion-segment-button value="Paid">
            Paid
          </ion-segment-button>
          <ion-segment-button value="Request">
            RequestS
          </ion-segment-button>
        </ion-segment>
      </div>
      <div *ngIf="paymentData" class="tab-content" [ngSwitch]="activeTab">
        <ion-list *ngSwitchCase="'Recieved'">
          <div *ngFor="let payments of paymentData.received">
            <div class="head-strip">{{payments.date}}</div>
            <ion-item *ngFor="let payment of payments.data">
              <button>
                <i class="material-icons payment-icon">assignment_returned</i>
                <div class="payment-details">
                  <div class="payment-label">Recieved Amount for </div>
                  <div class="payment-info">
                    Tikseat Order
                    <b> #{{payment.received_orderId}}</b>
                    <span>{{payment.format_time }}</span>
                  </div>
                </div>
                <span class="payment-price add-money">
                  +
                  <i class="flaticon-rupee-indian"></i>{{payment.var_booking_price}}</span>
              </button>
            </ion-item>
            <!-- <ion-item>
              <button>
                <i class="material-icons payment-icon">assignment_returned</i>
                <div class="payment-details">
                  <div class="payment-label">Recieved Amount for</div>
                  <div class="payment-info">
                    Tikseat Order
                    <b> #523256454812</b>
                    <span>01:34 PM</span>
                  </div>
                </div>
                <span class="payment-price add-money">
                  +
                  <i class="flaticon-rupee-indian"></i>1500</span>
              </button>
            </ion-item> -->
          </div>


        </ion-list>
        <ion-list *ngSwitchCase="'Paid'">
          <div *ngFor="let payments of paymentData.paid">
            <div class="head-strip">{{payments.date}}</div>
            <ion-item *ngFor="let payment of payments.data">
              <button>
                <i class="material-icons payment-icon">assignment_return</i>
                <div class="payment-details">
                  <div class="payment-label">Paid Amount from Tikseat </div>
                  <div class="payment-info">
                    Trancation ID
                    <b> #{{payment.received_orderId}}</b>
                    <span>{{payment.format_time }}</span>
                  </div>
                </div>
                <span class="payment-price receive-money">
                  -
                  <i class="flaticon-rupee-indian"></i>{{payment.var_requested_amnt}}</span>
              </button>
            </ion-item>
            <!-- <ion-item>
            <button>
              <i class="material-icons payment-icon">assignment_return</i>
              <div class="payment-details">
                <div class="payment-label">Paid Amount from Tikseat </div>
                <div class="payment-info">
                  Trancation ID
                  <b> #523256454812</b>
                  <span>01:34 PM</span>
                </div>
              </div>
              <span class="payment-price receive-money">
                -
                <i class="flaticon-rupee-indian"></i>1500</span>
            </button>
          </ion-item> -->
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Request'">
          <div *ngFor="let payments of paymentData.request">
            <div class="head-strip">{{payments.date}}</div>
            <ion-item *ngFor="let payment of payments.data">
              <button>
                <i class="material-icons payment-icon">assignment_return</i>
                <div class="payment-details">
                  <div class="payment-label">Request for Payment </div>
                  <div class="payment-info">
                    <!-- Request Id
                  <b> #{{payment.received_orderId}}</b> -->
                    <span>{{payment.format_time }}</span>
                  </div>
                </div>
                <span class="payment-price request-money">
                  <span *ngIf="payment.en_status == 'P'" class="status">Pending</span>
                  <span *ngIf="payment.en_status == 'C'" class="status">Paid</span>
                  <i class="flaticon-rupee-indian"></i>{{payment.var_requested_amount}}</span>
              </button>
            </ion-item>
            <!-- <ion-item>
            <button>
              <i class="material-icons payment-icon">assignment_return</i>
              <div class="payment-details">
                <div class="payment-label">Request for Payment </div>
                <div class="payment-info">
                  Request Id
                  <b> #12</b>
                  <span>01:34 PM</span>
                </div>
              </div>
              <span class="payment-price request-money">
                <span class="status paid">Paid</span>
                -
                <i class="flaticon-rupee-indian"></i>1500</span>
            </button>
          </ion-item> -->
          </div>
        </ion-list>
      </div>
    </div>
  </div>
  <div class="no-data-container" *ngIf="totalGetamount == null">
      <i class="material-icons">account_balance_wallet</i>
      You have no payment history
    </div>
</ion-content>