page-payment {
  .payment-history-container {
    .get-payment-container {
      background: #fff;
      h4 {
        margin: 0;
        text-align: center; // background: #f3f3f3;
        padding: 8px 0;
        color: #333;
        font-size: 16px;
        font-weight: 400;
        b {
          font-size: 22px;
          font-weight: 500;
          display: block;
          margin-top: 8px;
          i.flaticon-rupee-indian::before {
            font-size: 18px;
          }
        }
      }
      .get-payment-input {
        .input-btn-inline {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 0 10px 10px;
          ion-item {
            .item-inner {
              padding: 0 !important;
            }
          }
          .btn-area {
            text-align: center;
            button {
              width: 94%;
              margin: 0;
              height: 38px;
            }
          }
        }
      }
      ion-list {
        margin-bottom: 0 !important;
        ion-item {
          padding-left: 0;
          .item-inner {
            padding: 10px 0 !important;
            margin: 0 10px;
            box-shadow: none !important;
            border-bottom: 1px solid #dedede !important;
            .input-wrapper {
              ion-label.label {
                margin: 0 !important;
                font-size: 14px;
              }
              ion-input {
                font-size: 16px;
                font-weight: 500;
                color: #444;
              }
            }
          }
        }
      }
    }
    .payment-container {
      .tabs-container {
        height: 40px; // padding-top: 156px;
        ion-segment.segment {
          // position: fixed;
          // top: 178px;
          // width: 100%;
          // z-index: 999;
          background: #fff;
          ion-segment-button.segment-button {
            background: map-get($colors, primary);
            color: map-get($colors, white);
            margin: 0;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            border-radius: 0 !important;
            border: none;
            border-bottom: 1px solid map-get($colors, primary);
            opacity: 0.7;
            height: 4rem;
            line-height: 4rem;
          }
          ion-segment-button.segment-button.segment-activated {
            font-weight: 500;
            background: map-get($colors, primary);
            color: map-get($colors, white);
            opacity: 1;
          }
        }
      }
      .tab-content {
        ion-list {
          .head-strip {
            padding: 10px;
            font-weight: 500;
            font-size: 15px;
            text-transform: capitalize;
            background: transparent;
          }
          ion-item {
            padding: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid #ccc;
            height: auto;
            .item-inner {
              padding: 0px !important;
              border-bottom: none !important;
              ion-label {
                height: 100%;
                margin: 0;
                button {
                  background: transparent;
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  color: #000;
                  box-shadow: none;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .payment-icon {
                    // flex: 1;
                    color: map-get($colors, primary);
                    font-size: 26px;
                    // border: 1px solid;
                    // border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    flex-basis: 48px;
                  }
                  .payment-details {
                    flex: 0 0 66%;
                    padding: 10px;
                    width: 66%;
                    .payment-label {
                      display: block;
                      margin-bottom: 5px;
                      font-weight: 500;
                      font-size: 16px;
                      color: #444;
                      text-align: left;
                    }
                    .payment-info {
                      display: block;
                      color: #666;
                      font-weight: 400;
                      font-size: 14px;
                      height: 100%;
                      text-align: left;
                      white-space: normal;
                      line-height: 20px;
                      b {
                        font-weight: 500; // display: block;
                      }
                      span {
                        display: block;
                        font-size: 13px;
                        color: #999;
                        margin-top: 5px;
                      }
                    }
                  }
                  span.payment-price {
                    text-align: right;
                    color: map-get($colors, primary);
                    font-weight: 500;
                    font-size: 16px;
                    flex-basis: 90px;
                    width: 90px;
                    white-space: normal;
                    span.status {
                      color: map-get($colors, primary);
                      margin-bottom: 7px;
                      display: block;
                      font-size: 13px;
                    }
                    span.status.paid {
                      color: map-get($colors, success);
                    }
                    i.flaticon-rupee-indian::before {
                      font-size: 14px;
                    }
                  }
                  .payment-price.add-money {
                    color: map-get($colors, success);
                  }
                  .payment-price.receive-money {
                    color: map-get($colors, danger);
                  }
                  .payment-price.request-money {
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
