page-timings {
    ion-content.add-timings-container {
      padding: 0 !important;
        .scroll-content {
            // margin-top: 55px !important;
            padding: 0 !important;
        }
        ion-list {
            ion-item {
                padding:0 10px;
                margin-bottom: 0;
                .item-inner {
                    padding: 0 !important;
                    .input-wrapper {
                        ion-label.label {
                            margin: 0 !important;
                            font-size: 14px;
                        }
                        ion-input {
                            font-size: 16px;
                            input::-webkit-input-placeholder {
                                /* Chrome/Opera/Safari */
                                font-size: 14px;
                            }
                            input::-moz-placeholder {
                                /* Firefox 19+ */
                                font-size: 14px;
                            }
                            input:-ms-input-placeholder {
                                /* IE 10+ */
                                font-size: 14px;
                            }
                            input:-moz-placeholder {
                                /* Firefox 18- */
                                font-size: 14px;
                            }
                        }
                        ion-select {
                            font-size: 16px;
                            .select-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        ion-list.day-timings {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -1px 0;
            ion-label.heading-day {
                background: #f1f1f1;
                color: rgba(0,0,0,0.7);
                border-bottom: 1px solid #ddd;
                margin: 0;
                padding: 10px;
                flex: 0 0 100%;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 500;
            }
            ion-item {
                padding: 0 10px;
                margin-bottom: 0;
                flex: 0 0 50%;
                border-bottom: 1px solid #dedede;
                .item-inner{
                  border-bottom: none !important;
                  .datetime-text{
                    color: #333;
                  }
                }
            }
        }
        .btn-area{
          padding: 10px;
          // margin-top: 5px;
        }
    }
}
