<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Opening & Closing Hours</ion-title>
    <!-- <button ion-button right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header>

<ion-content class="add-timings-container" padding>
  <ion-list class="day-timings" *ngFor="let day of timigs">
    <ion-label class="heading-day">{{util.getDayNameFromNumber(day.int_week)}}</ion-label>
    <ion-item>
      <ion-label>Open Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="day.openingTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Close Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="day.closingTime"></ion-datetime>
    </ion-item>
  </ion-list>
  <div class="btn-area">
    <button class="submit-btn" ion-button (click)="updateTimings(timigs)">Update Timings</button>
  </div>
</ion-content>
