<ion-menu [content]="content">
  <ion-content>
    <div class="avatar-container">
      <img class="bg-img" [src]="currentStore.var_logo" />
      <div class="div-overlay"></div>
      <div class="store-container">
        <div class="img-round">
          {{currentStore.shortName}}
        </div>
        <b>{{currentStore.var_title}}
          <span>{{currentStore.bint_phone}}</span>
        </b>
      </div>
      <div class="accounts-container">
        <div class="account-one" menuClose *ngFor="let data of loggedInUser" (click)="changeAccount(data)">{{data.shortName}}</div>
        <!-- <div class="account-one" (click)="changeAccount()">BC</div>
        <div class="account-one" (click)="changeAccount()">DG</div> -->
      </div>
    </div>
    <ion-list class="menu-list-container">
      <ion-item ion-ripple menuClose  *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'item-has-submenu': (p.isSubMenu === true)}">
        <a ion-ripple>
          <ion-icon *ngIf="!p.isMaterialIcons" ios="{{p.ios}}" md="{{p.md}}"></ion-icon>
          <i *ngIf="p.isMaterialIcons" class="material-icons">{{p.icon}}</i>
          <span>{{p.title}}</span>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- <ion-footer>
    <ion-list class="menu-list-container">
      <ion-item ion-ripple (click)="logOut()">
        Logout
      </ion-item>
      <ion-item ion-ripple>
        0.0.1
      </ion-item>
    </ion-list>
  </ion-footer> -->
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
