    // http://ionicframework.com/docs/theming/
    // App Global Sass
    // --------------------------------------------------
    // Put style rules here that you want to apply globally. These
    // styles are for the entire app and not just one component.
    // Additionally, this file can be also used as an entry point
    // to import other Sass files to be included in the output CSS.
    //
    // Shared Sass variables, which can be used to adjust Ionic's
    // default Sass variables, belong in "theme/variables.scss".
    //
    // To declare rules for a specific mode, create a child rule
    // for the .md, .ios, or .wp mode classes. The mode class is
    // automatically applied to the <body> element in the app.
    // Menu Style
    .red-border {
      border: 1px solid red !important;
    }

    ion-menu {
      .menu-inner {
        width: 250px;

        ion-content {
          text-align: center;

          .scroll-content {
            // padding: 20px 0;
            overflow-y: hidden; // background: map-get($colors, primary);
            // color: map-get($colors, white);
            height: 100%;

            .avatar-container {
              font-weight: 300;
              border-bottom: 1px solid map-get($colors, white);
              padding-bottom: 0;
              position: relative;
              height: 150px;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }

              .div-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 777;
                background: rgba(0, 0, 0, 0.4);
              }

              .store-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 777;
                color: #fff;
                text-align: left;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                b {
                  margin: 0;
                  display: flex;
                  font-weight: 400;
                  font-size: 16px;
                  font-family: 'Open Sans', sans-serif;
                  align-items: center;
                  flex-wrap: wrap;
                  text-transform: uppercase;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 100%;
                  display: block;

                  span {
                    font-size: 14px;
                    display: block;
                    flex: 0 0 100%;
                  }
                }

                .img-round {
                  background: #DCDCDC;
                  font-family: 'Open Sans', sans-serif;
                  color: map-get($colors, primary);
                  border-radius: 100%;
                  width: 60px;
                  height: 60px;
                  margin: 0;
                  display: block;
                  position: relative;
                  text-align: center;
                  font-weight: 500;
                  font-size: 25px;
                  line-height: 60px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px inset;
                  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px inset;
                  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px inset;
                  -webkit-transition: box-shadow 0.2s ease-in;
                  -moz-transition: box-shadow 0.2s ease-in;
                  transition: box-shadow 0.2s ease-in;
                  text-transform: uppercase;
                  letter-spacing: 2px;

                  img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    position: relative;
                    z-index: -1;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                  }
                }
              }

              .accounts-container {
                position: absolute;
                right: 0;
                top: 3px;
                z-index: 777;
                display: flex;
                align-content: center;
                justify-content: flex-end;
                width: 72%;
                height: 60%;
                padding: 10px;
                flex-wrap: wrap;

                .account-one {
                  width: 35px;
                  height: 35px;
                  line-height: 35px;
                  margin-left: 5px;
                  margin-bottom: 5px;
                  border-radius: 100%;
                  text-align: center;
                  background: map-get($colors, primary);
                  font-family: 'Open Sans', sans-serif;
                  font-weight: 500;
                  color: map-get($colors, white);
                  font-size: 14px;
                }
              }
            }

            .menu-list-container {
              // background: #fff;
              overflow-y: scroll;
              height: calc(100% - 150px);

              ion-item {
                background: transparent;
                padding: 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                position: relative;

                .item-inner {
                  padding: 9px 10px; // border-bottom: 1px solid #675AB3;

                  .input-wrapper {

                    // flex-wrap: wrap;
                    ion-label.label {
                      margin: 0;
                      white-space: normal;

                      a {
                        display: flex; // color: #675AB3;
                        color: map-get($colors, 'secondary');
                        width: 100%;
                        align-items: center;

                        ion-icon {
                          font-size: 28px;
                          margin-right: 10px
                        }

                        i.material-icons {
                          font-size: 28px;
                          margin-right: 10px
                        }

                        span {
                          font-size: 14px;
                          font-family: 'Open Sans', sans-serif;
                          font-weight: 500;
                          color: #333;
                        }
                      }
                    }
                  }
                }
              }

              ion-item.item-has-submenu::before {
                content: '\f109';
                position: absolute;
                top: auto;
                right: 10px;
                font-family: Flaticon;
                font-size: 13px;
                color: #444;
              }
            }

            .menu-list-container::-webkit-scrollbar {
              width: 0 !important;
            }
          }

          .scroll-content::-webkit-scrollbar {
            width: 0 !important;
          }
        }
      }
    }

    .text-center {
      text-align: center !important;
    }

    .text-left {
      text-align: left !important;
    }

    .text-right {
      text-align: right !important;
    }

    .pull-left {
      float: left !important;
    }

    ion-toolbar.toolbar {
      min-height: 45px;
      padding: 0 10px;

      .toolbar-background {
        background: map-get($colors, primary);
        color: map-get($colors, white);
      }

      .toolbar-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .toolbar-title {
          color: map-get($colors, white);
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          padding: 0;
        }
      }

      button {
        margin: 0;
        color: map-get($colors, white);
        min-width: 10px;
        box-shadow: none;
        padding: 0;

        .button-inner {
          justify-content: flex-start;
        }
      }

      ion-buttons {
        button {
          min-width: 10px;
          margin-left: 10px;
        }
      }

      ion-icon {
        font-size: 24px;
        padding: 0;
      }
    }

    ion-header {
      ion-navbar {
        min-height: 55px !important;
        height: 55px !important;
        position: relative;

        button {
          color: map-get($colors, white) !important;
          min-width: 0 !important;
          margin: 0 !important;
          padding-top: 0 !important;
        }

        .menu-icon {
          position: absolute;
          top: 0;
          left: 5px;
          height: 56px;
        }

        .toolbar-background {
          background: map-get($colors, primary);
        }

        .toolbar-content {
          display: flex;
          height: 56px;
          text-align: center;

          ion-title {
            .toolbar-title {
              font-size: 18px;
              font-weight: 500;
              line-height: 56px; // letter-spacing: 0.5px;
              color: map-get($colors, white);
              font-family: 'Open Sans', sans-serif !important;
              text-transform: capitalize;
              letter-spacing: 1px;

              ion-icon {
                vertical-align: middle;
              }
            }
          }

          button {
            box-shadow: none;
            font-size: 20px;
            padding: 0 10px;
            height: 55px !important;
            background: transparent;
          }
        }
      }

      .toolbar-ios {
        ion-title {
          left: auto;
          top: auto;
          padding: 0;
          position: relative;
          width: 100%;
          height: 100%;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          pointer-events: none;
        }
      }
    }

    .ion-page>ion-content {
      padding: 0;

      .scroll-content {
        margin-top: 55px !important;
        background: #f1f1f1;
      }
    }

    page-tutorial.ion-page>ion-content {
      .scroll-content {
        margin-top: 0 !important;
      }
    }

    .mat-form-field {
      width: 100%;
    }

    .submit-btn {
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      height: 50px;
      line-height: 50px;
      margin: 0;
      background: map-get($colors, 'secondary');
    }

    .has-two-btns {
      display: flex;
      align-items: center;
      justify-content: center;

      .submit-btn {
        width: auto !important;
        flex: 0 0 77%;
      }

      .delete-btn {
        flex: 0 0 15%;
        box-shadow: none;
        border-radius: 0;
        height: 50px;
        line-height: 50px;
        margin: 0;
        background: map-get($colors, 'danger');
        margin: 10px 10px 10px 0;

        ion-icon {
          color: #f1f1f1;
          font-size: 28px;
        }
      }
    }

    ion-footer {
      ion-list {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-item {
          padding: 0 !important;

          .item-inner {
            padding: 0 10px !important;
            background: map-get($colors, 'primary');
            color: #fff;
            border: none !important;

            ion-label {
              margin-right: 0;
            }
          }
        }

        ion-item:last-child {
          .item-inner {
            text-align: right;
          }
        }
      }
    }

    .scroll-content {
      padding-bottom: 0 !important;
    }

    .delete-btn {
      box-shadow: none;
      border-radius: 0;
      height: 50px;
      line-height: 50px;
      margin: 0;
      background: map-get($colors, 'danger');

      ion-icon {
        color: #f1f1f1;
        font-size: 28px;
      }
    }

    .no-data-container {
      text-align: center;
      padding: 50px 0;
      font-size: 20px;
      color: #ddd;
      height: 100%;

      i {
        font-size: 200px;
        display: block;
        margin-bottom: 10px;
      }
    }

    ion-refresher {
      ion-refresher-content {
        .refresher-pulling {
          .refresher-pulling-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon {
              background: #fff;
              padding: 5px;
              border-radius: 100%;
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
              color: map-get($colors, 'secondary');

              &:before {
                font-size: 30px;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
