<ion-content no-bounce class="welcome-slider-container">
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides; let i=index;" [class.odd]="i % 2 === 0" [class.even]="i % 2 === 1">
      <ion-buttons end *ngIf="showSkip">
        <button ion-button (click)="startApp()" color="primary">Skip</button>
      </ion-buttons>
      <div class="image-container">
        <!-- <img [src]="slide.image" class="slide-image" /> -->
      </div>
      <div class="slider-content">
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
    <ion-slide [class.odd]="slides.length % 2 === 0" [class.even]="slides.length % 2 === 1">
      <ion-buttons>
        <!-- <button ion-button (click)="startApp()" color="primary">Skip</button> -->
      </ion-buttons>
      <div class="image-container">
        <!-- <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" /> -->
      </div>
      <div class="slider-content">
        <h2 class="slide-title">welcome</h2>
        <button class="continue-btn" ion-button icon-end large clear (click)="startApp()">
          continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>