page-tutorial{
  .scroll-content{
    padding: 0 !important;
    margin-top: 0 !important;

  }
  .welcome-slider-container{
    .swiper-wrapper{
        .swiper-slide{
          background: map-get($colors, primary );
          .slide-zoom{
            height: 100%;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ion-buttons{
              order: 0;
              height: 36px;
              button{
                box-shadow: none;
                background: transparent;
              }
            }
          }
          .image-container{
            position: relative;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset;
            -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset;
            -webkit-transition: box-shadow 0.2s ease-in;
            -moz-transition: box-shadow 0.2s ease-in;
            transition: box-shadow 0.2s ease-in;
            width: 250px;
            height: 250px;
            margin: 0 auto 40px;
            img {
                max-width: 100%;
                position: relative;
                z-index: -1;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
          }
          h2{
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 5px;

          }
          p{
            margin: 5px;
            font-size: 16px;
          }
          h2,p{
            color: #fff;
            text-transform: capitalize;
          }
          .slider-content{
            button.continue-btn{
              border: 1px solid;
              border-radius: 30px;
              height: 3em;
              font-size: 16px;
              margin-top: 15px;
              padding: 0 2em;
              color: #fff;
            }
          }
        }
        .swiper-slide.even{
          background: map-get($colors, secondary );
        }
    }
    .swiper-pagination{
      .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
      }
      .swiper-pagination-bullet-active{
        background: #fff;
      }
    }
  }
}
