page-biz-sub-menu {
  .scroll-content {
    padding: 0 !important;
    background: #fff !important;
  }
  .sub-menu-container {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        color: #444;
        font-size: 16px;
        line-height: 26px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        position: relative;
      }
      li::before {
        content: '\f109';
        position: absolute;
        top: auto;
        right: 10px;
        font-family: Flaticon;
        font-size: 13px;
        color: #444;
      }
      li.logout-li {
        color: #888;
      }
    }
  }
}
