<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Business Profile</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="sub-menu-container" padding>
  <ul>
    <li (click)="goToGeneralPage()">General</li>
    <li (click)="goToServicesPage()">Services</li>
    <li (click)="goToStaffPage()">Staff Manager</li>
    <li (click)="goToSettingsPage()">Settings</li>
    <li (click)="goToOpeningHoursPage()">Opening & Closing Hours</li>
  </ul>
</ion-content>
