no-connection-model {
  .inner-container {
    display: flex;
    flex-direction: column;
    background: map-get($colors, primary);
  }
  .no-connection-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .sentence-select {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-align: center;
      color: map-get($colors, white );
      font-size: 16px;
      line-height: 24px;
      .blinkicon{
        animation: blinker 2s linear infinite;
        background: rgba(255, 18, 39,0.7);
        padding: 5px;
        border-radius: 100%;
        margin-bottom: 30px;
        width: 70px;
        height: 70px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0px 0 70px rgba(255, 18, 39,0.5);
        i{
          color: map-get($colors,  white);
          font-size: 30px;
         
        }
      } 
      
    }
    .btn-container {
      button{
        box-shadow: none;
        padding: 8px 10px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        border-radius: 0;
        height: 4.5rem;
        width: 100%;
        background: map-get($colors, secondary);
      }

    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}