<ion-content padding class="inner-container ">
  <div class="no-connection-container">
    <div class="sentence-select">
      <div class="blinkicon">
        <i class="material-icons">wifi_off</i>
      </div>
      Your are offline, please check your internet connection and try again.
    </div>
    <div class="btn-container">
      <button (click)="doDone()" ion-button full>Try again</button>
    </div>
  </div>
</ion-content>