<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Holidays</ion-title>
    <button ion-button right (click)="addHoliday()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="holidayList.length > 0">
    <ion-item-sliding *ngFor="let holiday of holidayList">
      <ion-item (click)="editHoliday(holiday)">
        <button>
          <i class="material-icons gift-icon">event</i>
          <div class="packages-name-services">
            <div class="package-name">{{holiday.dt_holiday_date}}</div>
            <div class="package-services">
              {{holiday.dt_start_time}} to {{holiday.dt_end_time}}
              <p *ngIf="holiday.txt_note">{{holiday.txt_note}}</p>
            </div>
          </div>
          <span class="package-price">
            {{(holiday.enum_holiday == 'YES') ? 'Full Day' : 'Half Day'}}
          </span>
        </button>
      </ion-item>
      <ion-item-options side="right">
        <!-- <button (click)="editHoliday(holiday)" ion-button color="success">
          <ion-icon ios="ios-checkmark-circle-outline" md="ios-checkmark-circle-outline"></ion-icon>
        </button> -->
        <button ion-button color="danger" (click)="deleteHoliday(holiday)">
          <ion-icon ios="ios-close-circle-outline" md="ios-close-circle-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="no-holidays-container" *ngIf="holidayList.length == 0">
    <i class="material-icons">event</i>
    No Holidays available
  </div>
</ion-content>