<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Bank Details</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="add-bank-container" padding>
  <ion-list>
    <ion-item [ngClass]="{'red-border': ((this.api.getRequiredValidation(event.acc_no) || this.api.getNumberValidation(event.acc_no)) && submitClicked)}">
      <ion-label stacked>Account No</ion-label>
      <ion-input type="tel" [(ngModel)]="event.acc_no" placeholder="please enter account number"></ion-input>
    </ion-item>
    <span>{{(submitClicked ? this.api.getRequiredValidation(event.acc_no) : '')}}</span>
    <span>{{(submitClicked ? this.api.getNumberValidation(event.acc_no) : '')}}</span>
    <ion-item [ngClass]="{'red-border': (event.ifsc_code == '' && submitClicked)}">
      <ion-label stacked>IFSC code</ion-label>
      <ion-input type="text" [(ngModel)]="event.ifsc_code" placeholder="please enter IFSC code"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{'red-border': (event.name == '' && submitClicked)}">
      <ion-label stacked>Holder Name</ion-label>
      <ion-input type="text" [(ngModel)]="event.name" placeholder="please enter holder name"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{'red-border': (event.bank_name == '' && submitClicked)}" *ngIf="!event.current">
      <ion-label stacked>Bank Name</ion-label>
      <ion-input type="text" [(ngModel)]="event.bank_name" placeholder="please enter bank name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label [ngClass]="{'red-border': (event.branch_name == '' && submitClicked)}" stacked>Branch Name</ion-label>
      <ion-input type="text" [(ngModel)]="event.branch_name" placeholder="please enter branch name"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input type="text" [(ngModel)]="event.address" placeholder="please enter bank address"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label stacked>Account Type</ion-label>
      <ion-input type="text" [(ngModel)]="event.acc_type" placeholder="please enter bank account type"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label stacked>Card Type</ion-label>
      <ion-select [(ngModel)]="event.card_type" placeholder="please enter card type">
        <ion-option value="D">Debit Card</ion-option>
        <ion-option value="C">Credit Card</ion-option>
      </ion-select>
    </ion-item> -->
    <!-- <ion-item class="last-child-item">
      <ion-label stacked>Card No</ion-label>
      <ion-input type="text" [(ngModel)]="event.card_number" placeholder="please enter card number"></ion-input>
    </ion-item> -->
    <!-- <button ion-button [disabled]="disabled()" (click)="addBank()">Add Bank</button> -->

    <!-- [disabled]="(event.name.length > 0 && event.card_number.length > 0 && event.acc_no.length > 0
        && event.ifsc_code.length > 0&& event.bank_name.length > 0&& event.branch_name.length > 0 ? false : true)" -->

    <button class="submit-btn" ion-button (click)="addBank()">Update</button>
  </ion-list>
</ion-content>