page-booking-view {
  .scroll-content {
    padding: 0 !important;
    background: #fff !important;
   
    .booking-view-container {
      .booking-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        b,span{
          color: #666;
          font-size: 15px;
          line-height: 22px;
          display: block;
        }
        b{
          font-size: 18px;
        }
        .status-container{
          border: 2px solid map-get($colors, success );
          border-radius: 4px;
          padding: 6px 12px;
          font-size: 16px;
          font-weight: 500;
          color: map-get($colors, success );
        }
        .status-container.upcoming{
          color: map-get($colors,primary);
          border: 2px solid map-get($colors, primary );
        }
        .status-container.finished{
          color: map-get($colors,c);
          border: 2px solid map-get($colors, success );
        }
        .status-container.cancelled{
          color: map-get($colors,danger);
          border: 2px solid map-get($colors, danger );
        }
      }
      ion-list.customer-information {
        // padding-top: 44px;
        margin-top: 0 !important;
        margin-bottom: 0;
        ion-item {
          padding: 0 !important; // margin: 5px 0;
          .item-inner {
            padding: 0 !important;
            .input-wrapper {
              padding: 20px 10px !important;
              ion-label {
                margin: 0 !important;
                display: flex;
                align-content: center;
                justify-content: space-around;
                .avtar-img {
                  margin-right: 5px;
                  display: flex;
                  align-items: center;
                  flex: 0 0 50px;
                  img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                  }
                }
                .name-container,
                .actions {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .name-container {
                  white-space: normal;
                  margin-right: 5px;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  font-weight: 500;
                  color: #555;
                  flex: 0 0 45%;
                  font-size: 18px;
                  span {
                    flex: 0 0 100%;
                    font-weight: 400;
                    color: map-get($colors, grey);
                  }
                }
                .actions {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  flex: 0 0 calc(100% - (60px + 45%));
                  ion-icon {
                    display: flex;
                    font-size: 32px; // border: 1px solid map-get($colors, primary);
                    // padding: 3px;
                    margin: 0 5px;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 35px;
                    align-items: center;
                    justify-content: center;
                    color: map-get($colors, primary); // background: #ff0000;
                }
                ion-icon:nth-child(1) {
                    margin-left: 0;
                }
                ion-icon.whatsapp-icon {
                    color: #25D366;
                }
                ion-icon.mail-icon {
                    color: #D75D5D;
                }
                }
              }
            }
          }
        }
      }
      .list-ios>.item-block:first-child {
        border-top: none;
      }
      h4.head-strip {
        padding: 12px 0 5px;
        font-size: 18px;
        text-align: center;
        color: #555;
        margin: 0;
       
      }
      .booking-summary {
        padding: 10px 0;
        .date-time-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding:0 10px 5px;
          span {
            color: #555;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        .services-list-container {
          background: #fff;
          margin: 0;
          .service-one {
            padding: 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            color: #666;
            b {
              font-size: 18px;
              color: #555;
              i.flaticon-rupee-indian::before{
                font-size: 14px;
                font-weight: 500;
              }
            }
            span{
              font-weight: 500;
              font-size: 16px;
            }
          }
          .paddingBottom5{
            padding-bottom: 5px;
          }
          .paddingTop5{
            padding-top: 5px;
          }
          .subtotal-price.service-one,
          .total-price.service-one{
            justify-content: flex-end;
            border-bottom: none;
            span{
              margin-right: 15px;
            }
          }
          .total-price.service-one{
            flex-wrap: wrap;
            flex-direction: column;
            border-top:1px solid #ddd;
            align-items: flex-end;
            span{
              margin-right: 0;
              color: #999;
              margin-bottom: 10px;
            }
            b{
              font-size: 26px;
              line-height: 32px;
              i.flaticon-rupee-indian::before{
                font-size: 21px;
                font-weight: 500;
              }
            }
          }
        }
      }
      .booking-action-container{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 0 10px; 
        button{
          width: 48%;
          font-weight: 400;
          font-size: 15px;
        }
        button.completed-btn{
          background: map-get($colors, success );
        }
        button.cancelled-btn{
          background: map-get($colors, danger );
        }
      }
    }
  }
}
