<ion-header>
  <ion-navbar>
    <button ion-button>
      <!-- <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon> -->
    </button>
    <ion-title>Transaction Details</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="booking" class="booking-view-container">
    <div class="booking-info">
      <div>
        <b>Booking ID : {{booking.id}}</b>
        <span>{{booking.bookingDate}}</span>
        <!-- <span>{{booking.timeslot[0].timeslot}} to {{booking.timeslot[booking.timeslot.length - 1].timeslot}}</span> -->
        <span>{{booking.timeslot[0].format_timeslot}} to {{booking.timeslot[booking.timeslot.length - 1].format_timeslot}}</span>
      </div>
      <!-- <div class="status-container">Paid</div> -->
      <div class="status-container" [ngClass]=" {'upcoming':booking.enum_book_type == 'UPCOMING','finished':booking.enum_book_type == 'COMPLETED' , 'cancelled':booking.enum_book_type == 'CANCEL' } ">{{booking.enum_book_type}}</div>
    </div>
    <ion-list class="customer-information">
      <ion-item>
        <div class="avtar-img">
          <img src="{{booking.var_profile_image}}" />
          <!-- <img src="https://tikseat.com/public/upload/no_image.png" /> -->
        </div>
        <div class="name-container">{{booking.username}}
          <span>{{booking.bint_phone}}</span>
        </div>
        <div class="actions">
          <ion-icon (click)="call(booking)" ios="ios-call" md="md-call"></ion-icon>
          <ion-icon class="whatsapp-icon" (click)="share(booking)" ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
          <ion-icon class="mail-icon" (click)="sendEmail(booking)" ios="ios-mail" md="md-mail"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    <h4 class="head-strip">Booking Summary</h4>
    <div class="booking-summary">
      <div class="date-time-container">
        <span>Item</span>
        <span>Amount</span>
      </div>
      <div class="services-list-container">
        <div *ngFor="let service of booking.services" class="service-one">
          <span>{{service.var_title}} ({{service.serviceTimeFormat}})</span>
          <b>
            <i class="flaticon-rupee-indian"></i>{{service.servicePrice}}</b>
        </div>
        <div class="subtotal-price service-one paddingBottom5">
          <span>Subtotal</span>
          <b>
            <i class="flaticon-rupee-indian"></i>{{booking.var_price}}</b>
        </div>
        <!-- <div class="subtotal-price service-one  paddingTop5">
          <span>Tax Fee</span>
          <b>
            <i class="flaticon-rupee-indian"></i>{{booking.var_price}}</b>
        </div> -->
        <div class="total-price service-one">
          <span>Total</span>
          <b>
            <i class="flaticon-rupee-indian"></i>{{booking.var_price}}</b>
        </div>
      </div>
    </div>
    <div class="booking-action-container">
      <button *ngIf="booking.enum_book_type == 'UPCOMING'" (click)="doneservice()" ion-button class="submit-btn completed-btn">Complete Booking</button>
      <span *ngIf="booking.enum_book_type == 'UPCOMING'" (click)="cancleservice()" class="">Cancel Booking</span>
    </div>
  </div>
</ion-content>
