<ion-header>
  <ion-navbar>
    <button ion-button menuToggle tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title *ngIf="event && event.isAdd == true">Add Service</ion-title>
    <ion-title *ngIf="event && event.isAdd == false">Edit Service</ion-title>
    <!-- <button ion-button  right>
      <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon>
    </button> -->
  </ion-navbar>
</ion-header>

<ion-content class="add-service-container" padding>
  <ion-list>
    <!-- <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select Service Or Add Service" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let service of arrayOfStrings" [value]="service">
          {{ service }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <input [ngClass]="{'red-border': (event.name == '' && submitClicked)}" class="auto-complete" [disabled]="(event.isAdd == true ? false : true)"
      [(ngModel)]="event.name" (ngModelChange)="getVenueName(venue_name)" auto-complete [source]="restServices"
      placeholder="Select Service Or Add Service" />

    <ion-item [ngClass]="{'red-border': (event.price < 1 && submitClicked)}" class="price-input">
      <ion-label stacked>Price</ion-label>
      <ion-label class="rupee-icon"><i class="flaticon-rupee-indian"></i></ion-label>
      <ion-input type="number" [(ngModel)]="event.price"></ion-input>
    </ion-item>
    <ion-item class="time-duration-inputs">
      <ion-label stacked>Time Duration</ion-label>
      <!-- <ion-input type="text" [(ngModel)]="event.timeHr" size="2" maxlength="2" placeholder="Hours"></ion-input> -->
    </ion-item>
    <ion-item class="time-duration-inputs">
      <div class="times-inputs">
        <span (click)="selectServiceHr()">{{event.timeHr ? event.timeHr : '00'}}</span>
        <!-- <ion-select [ngClass]="{'red-border': (event.timeHr == '' && submitClicked)}" [(ngModel)]="event.timeHr" placeholder="Hours">
        <ion-option *ngFor="let hour of hours" [value]="hour">{{hour}}</ion-option>
      </ion-select> -->
        <span (click)="selectServiceMin()">{{event.timeMin ? event.timeMin : '00'}}</span>
        <!-- <ion-select [ngClass]="{'red-border': (event.timeMin == '' && submitClicked)}" [(ngModel)]="event.timeMin" placeholder="Minutes">
        <ion-option *ngFor="let min of minutes" [value]="min">{{min}}</ion-option>
      </ion-select> -->
        <!-- <ion-input type="text" [(ngModel)]="event.timeMin" size="2" maxlength="2" placeholder="Minute"></ion-input> -->
        <!-- <ion-datetime displayFormat="hh mm ss" pickerFormat="hh mm ss" [(ngModel)]="event.time"></ion-datetime> -->
      </div>
    </ion-item>
    <ion-item class="last-child-item">
      <ion-toggle [(ngModel)]="event.enum_enable"></ion-toggle>
      <ion-label> Is Enabled ?</ion-label>
    </ion-item>
    <div class="has-two-btns" *ngIf="event && event.isAdd == false">
      <button class="submit-btn" ion-button (click)="addService()">Save Service</button>
      <button (click)="deleteServices(event)" class="delete-btn" ion-button>
        <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
      </button>
    </div>
    <button class="submit-btn" *ngIf="event && event.isAdd == true" ion-button (click)="addService()">Save Service</button>
  </ion-list>
</ion-content>
