page-add-services {
    ion-content.add-service-container {
        padding: 10px !important;
        .scroll-content {
            margin-top: 56px !important;
            padding: 0 !important
        }
        ion-list {
            margin-bottom: 0 !important;
            height: 100%;
            button.submit-btn {
                width: calc(100% - 20px);
                margin: 10px;
            }
            .ng2-auto-complete-wrapper {
                padding: 0 10px;
                background: #fff;
                input {
                    padding: 15px 0;
                    margin: 0;
                    border: none;
                    width: calc(100%);
                    background: #fff;
                    border-bottom: 1px solid #dedede;
                }
                ul {
                    margin: 0;
                    width: calc(100% + 20px);
                    border: none;
                    li {
                        padding: 10px;
                        color: #333;
                    }
                    li.selected {
                        background: map-get($colors, 'primary');
                        color: #fff;
                    }
                }
            }
            mat-form-field {
                .mat-form-field-wrapper {
                    .mat-input-element {
                        font-size: 16px;
                    }
                    .mat-form-field-label-wrapper {
                        top: -20px;
                        padding-top: 20px;
                        .mat-form-field-label {
                            font-size: 14px !important;
                            color: #999;
                        }
                    }
                }
            }
            mat-form-field.mat-focused {
                .mat-form-field-wrapper {
                    .mat-form-field-label-wrapper {
                        top: -20px;
                        padding-top: 20px;
                        .mat-form-field-label {
                            font-size: 18px !important;
                            color: map-get($colors, primary);
                        }
                    }
                }
            }
            ion-item {
                padding-left: 0; // margin: 10px;
                // width: calc(100% - 20px);
                .item-inner {
                    padding: 10px 0 !important;
                    margin: 0 10px;
                    box-shadow: none !important;
                    border-bottom: 1px solid #dedede !important;
                    .input-wrapper {
                        ion-label.label {
                            margin: 0 !important;
                            font-size: 14px;
                        }
                        ion-input {
                            font-size: 16px;
                            font-weight: 500;
                            color: #444;
                        }
                    }
                }
            }
            ion-item.price-input {
                .item-inner {
                    .input-wrapper {
                        position: relative;
                        ion-label.rupee-icon {
                            position: absolute;
                            bottom: 6px;
                            font-size: 22px !important;
                            color: map-get($colors, primary);
                            font-weight: 500;
                            i.flaticon-rupee-indian::before{
                              font-size: 16px;
                            }
                        }
                        ion-input {
                            padding-left: 22px;
                        }
                    }
                }
            }
            ion-item.time-duration-inputs {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .item-inner {
                    .input-wrapper {
                        flex-direction: row;
                        flex-wrap: wrap;
                        ion-label.label {
                            flex: 0 0 100%;
                        }
                        .times-inputs{
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          span{
                            flex: 1;
                            text-align: center;
                          }
                        }
                        ion-select {
                            flex: 0 0 50%;
                        }
                    }
                }
            }
            ion-item.last-child-item {
                .item-inner {
                    border: none !important;
                }
            }
        }
    }
}
