page-portfolio {
  .scroll-content {
    padding: 0 !important;
    background: #fff !important;
    .portfolio-list-container {
      margin: 0;
      .portfolio-one {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        margin: 0;
        .portfolio-img-container {
          position: relative;
          img {
            display: inherit;
            width: 100%;
          }
          .portfolio-name-container {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            padding: 0 10px;
            h4 {
              text-transform: capitalize;
              margin-bottom: 0;
              color: #fff;
              font-size: 20px;
              line-height: 50px;
            }
          }
        }
        .portfolio-action-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 0;
          background: #fff;
          .action-toggle {
            display: flex;
            align-content: center;
            font-weight: 500;
            p {
              font-size: 15px;
              display: flex;
              color: #333;
              align-content: center;
              margin: 8px 0;
            }
          }
        }
        .comment-strip {
          margin: 0;
          padding: 10px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.7);
          background: rgba(0, 0, 0, 0.2);
        }
        .portfolio-comments-list {
          background: #fff;
          .portfolio-comments-one {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            border-bottom: 1px solid #ddd;
            padding: 10px 10px 5px;
            .comment-user-img {
              flex: 0 0 20%;
              margin-right: 4%;
              img {
                border-radius: 100%;
              }
            }
            .comment-text {
              flex: 0 0 76%;
              b {
                display: block;
                line-height: 24px;
                font-size: 16px;
                color: #333;
              }
              span {
                font-size: 14px;
                color: #444;
              }
            }
          }
          .portfolio-comments-one:last-child {
            border-bottom: none;
          }
        }
      }
      .portfolio-one:last-child {
        border: none;
      }
    }
  }
}
