<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Portfolio</ion-title>
    <button ion-button right (click)="addPortfolio()">
      <!-- <ion-icon ios="ios-add" md="md-add"></ion-icon> -->
      <i class="material-icons">add_a_photo</i>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="portfolio-list-container" *ngIf="portfolios.length > 0">
    <div class="portfolio-one" *ngFor="let portfolio of portfolios">
      <div class="portfolio-img-container">
        <!-- <img src="http://trimmer.premiumcoding.com/wp-content/uploads/2014/05/barber-portfolio-19.jpg" /> -->
        <img [src]="portfolio.var_file_thumb" />
        <div class="portfolio-name-container">
          <h4>{{portfolio.var_title}}</h4>
        </div>
      </div>
      <div class="portfolio-action-container">
        <div class="action-toggle">
          <p>Show to customers</p>
          <ion-toggle (ionChange)="changeStatus(portfolio)" [(ngModel)]="portfolio.enum_enable"></ion-toggle>
        </div>
        <button (click)="deletePortfolio(portfolio)" class="delete-btn" ion-button>
          <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
        </button>
      </div>
      <h3 *ngIf="portfolio.review.length > 0" class="comment-strip">Comments</h3>
      <div class="portfolio-comments-list">
        <div class="portfolio-comments-one" *ngFor="let p of portfolio.review">
          <div class="comment-user-img">
            <img [src]="p.var_profile_image" />
          </div>
          <div class="comment-text">
            <b>{{p.var_fname}} {{p.var_lname}}</b>
            <span>{{p.txt_review}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="no-data-container" *ngIf="portfolios.length == 0">
    <i class="material-icons">burst_mode</i>
    No Portfolio available
  </div>
</ion-content>