page-package-detail {
    .scroll-content {
        padding: 0 !important;
        top: 0 !important;
        button.submit-btn {
            width: calc(100% - 20px);
            margin: 10px;
        }
        ion-label.heading-day {
            background:#fff;
            // color: #fff;
            margin: 0 !important;
            padding: 10px;
            flex: 0 0 100%;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: space-between;
            b {
              font-weight: 500;
              font-size: 16px;
              color: #333;
              ion-icon{
                font-size: 20px;
              }
            }
            button{
              border: 0;
              font-family: inherit;
              font-style: inherit;
              font-variant: inherit;
              line-height: 1;
              text-transform: none;
              cursor: pointer;
              -webkit-appearance: button;
              padding: 10px;
              border-radius: 4px;
              background: map-get($colors, secondary );
              color: #fff;
              font-size: 15px;
            }
        }
        ion-list {
            margin: 0;
            ion-item {
                padding: 0 !important; // margin-bottom: 20px;
                box-shadow: none !important;
                border-bottom: none !important;
                .item-inner {
                    padding: 10px 0 !important;
                    margin: 0 10px;
                    box-shadow: none !important;
                    border-bottom: 1px solid #dedede !important;
                    .input-wrapper {
                        ion-label.label {
                            margin: 0 !important;
                            font-size: 14px;
                        }
                        ion-input {
                            font-size: 16px;
                            input::-webkit-input-placeholder {
                                /* Chrome/Opera/Safari */
                                font-size: 14px;
                            }
                            input::-moz-placeholder {
                                /* Firefox 19+ */
                                font-size: 14px;
                            }
                            input:-ms-input-placeholder {
                                /* IE 10+ */
                                font-size: 14px;
                            }
                            input:-moz-placeholder {
                                /* Firefox 18- */
                                font-size: 14px;
                            }
                        }
                    }
                }
                .service-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ion-icon {
                        color: map-get($colors, 'danger');
                        margin-right: 5px;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    span.service-title {
                        margin-right: 5px;
                        font-weight: 400;
                        font-size: 14px;
                        color: #444;
                    }
                    span.service-price {
                        font-weight: 500;
                        font-size: 16px;
                        color: map-get($colors, 'primary');
                        i.flaticon-rupee-indian::before{
                          font-size: 14px;
                        }
                    }
                }
            }
            ion-item.price-item{

              .item-inner{
                text-align: right;
                border: none !important;
                .total-price{
                    font-size: 18px;
                    font-weight: 500 !important;
                    i.flaticon-rupee-indian::before{
                        font-size: 18px;
                    }
                }
                ion-input{
                  input{
                    text-align: right;
                    margin-right: 0;
                    font-size: 18px;
                    font-weight: 500;
                    color: map-get($colors, 'primary');
                  }
                }
              }
            }
        }
    }
}
