<ion-header>
  <ion-navbar>
    <button ion-button tappable (tap)="closeModal();">
      <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
    </button>
    <ion-title *ngIf="data">{{data.var_name}}</ion-title>
    <ion-title *ngIf="!data">Add New Offer</ion-title>
    <button ion-button right>
      <!-- <ion-icon name="menu" ios="md-more" md="md-more"></ion-icon> -->
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item [ngClass]="{'red-border': (event.name == '' && submitClicked)}">
      <ion-label stacked>Offer Name</ion-label>
      <ion-input type="text" [(ngModel)]="event.name" placeholder="Name"></ion-input>
    </ion-item>
    <span class="error help-block">
      {{(event.name == '' && submitClicked ? 'Please enter offer name' : '')}}
    </span>
    <ion-item>
      <ion-label stacked>Start Date</ion-label>
      <ion-datetime min="{{minDate}}" max="{{maxDate}}" displayFormat="MMM DD YYYY" [(ngModel)]="event.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>End Date</ion-label>
      <ion-datetime min="{{minDate}}" max="{{maxDate}}" displayFormat="MMM DD YYYY" [(ngModel)]="event.endDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Note</ion-label>
      <ion-input type="text" [(ngModel)]="event.note" placeholder="Note"></ion-input>
    </ion-item>
    <ion-item class="last-child-item">
      <ion-toggle [(ngModel)]="event.enum_enable"></ion-toggle>
      <ion-label> Is Enabled ?</ion-label>
    </ion-item>
  </ion-list>
  <ion-label class="heading-day">
    <b>Services Included</b>
    <button (click)="goToaddPackage()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon> Add services
    </button>
  </ion-label>
  <ion-list *ngIf="packages">
    <ion-item *ngFor="let c of packages">
      <!-- <div class="service-container" (click)="goToeditPackage(c);"> -->
      <div class="service-container">
        <ion-icon (click)="deleteService(c)" ios="ios-close" md="md-close"></ion-icon>
        <span class="service-title">
          {{c.var_title}}
        </span>
        <span class="service-price">
          <b class="check-price">
            <i class="flaticon-rupee-indian"></i> {{c.var_price}}</b>
          <b>
            <i class="flaticon-rupee-indian"></i> {{c.var_offer_price}}</b>
        </span>
      </div>
    </ion-item>
    <ion-item class="price-item" *ngIf="packages.length > 0">
      <!-- <ion-label>Total Price</ion-label> -->
      <!-- <ion-label stacked> {{event.oldtotalPrice}}</ion-label> -->
      
      <!-- <ion-input type="text" [(ngModel)]="event.totalPrice" placeholder="Offer Price"></ion-input> -->
      <b class="total-price">Total Price : <i class="flaticon-rupee-indian"></i> {{event.totalPrice}}</b>
    </ion-item>
    
  </ion-list>
  <div class="has-two-btns" *ngIf="event && event.isNew == false">
    <!-- [disabled]="(packages.length > 0 && event.name.length > 0 ? false : true)" -->
    <button class="submit-btn" ion-button (click)="submitPackage()">Submit Offer</button>
    <button (click)="deleteOffer()" class="delete-btn" ion-button>
      <ion-icon ios="ios-trash-outline" md="ios-trash-outline"></ion-icon>
    </button>
  </div>
  <!-- [disabled]="(packages.length > 0 && event.name.length > 0 ? false : true)" -->
  <button class="submit-btn" *ngIf="event && event.isNew == true" ion-button (click)="submitPackage()">Submit Offer</button>
</ion-content>
